# 1) Importing Libraries and DataFrame

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
# Importing dataframe dated 12/23 (part 1) for nyc
path = r'/Users/matthewabrams/'
nyc_bikes_202312_part1 = pd.read_csv(os.path.join(path, 'Downloads', '202312-citibike-tripdata_1.csv'), index_col = False)
nyc_bikes_202312_part1

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,68751808BB28FB02,classic_bike,2023-12-13 07:13:54.356,2023-12-13 07:25:10.205,W 160 St & St Nicholas Ave,8138.07,St Nicholas Ave & W 126 St,7756.10,40.834468,-73.939865,40.811432,-73.951878,member
1,1BA98B2963AB08BF,electric_bike,2023-12-05 19:19:41.060,2023-12-05 19:31:49.013,Fulton St & Broadway,5175.08,Front St & Jay St,4895.03,40.710970,-74.009584,40.702461,-73.986842,member
2,9FD7269E7D1F591E,classic_bike,2023-12-16 19:30:20.231,2023-12-16 19:35:32.598,Nassau Ave & Russell St,5581.01,Bayard St & Leonard St,5442.05,40.725570,-73.944340,40.719156,-73.948854,member
3,60ECFA1C572F99AC,electric_bike,2023-12-30 11:38:28.727,2023-12-31 12:38:22.986,Fulton St & Broadway,5175.08,NaN,NaN,40.711066,-74.009447,NaN,NaN,casual
4,99C48A2C0C6F6A6F,electric_bike,2023-12-10 09:43:52.765,2023-12-10 10:02:21.257,Greenpoint Ave & Monitor St,5851.01,23 Ave & 83 St,6921.04,40.732198,-73.943957,40.766460,-73.886740,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,8AFF2AEB7D36E3B7,electric_bike,2023-12-22 15:19:40.844,2023-12-22 15:23:51.400,W 41 St & 8 Ave,6602.03,W 47 St & 10 Ave,6824.07,40.756554,-73.990398,40.762699,-73.993012,member
999996,1ACA46F1575C2C23,electric_bike,2023-12-17 17:47:43.803,2023-12-17 17:53:14.401,E 53 St & 3 Ave,6617.02,1 Ave & E 68 St,6822.09,40.757636,-73.969136,40.765005,-73.958185,member
999997,1D596BEC08E23AEE,electric_bike,2023-12-28 11:48:45.560,2023-12-28 12:08:44.382,Spring St & Hudson St,5653.12,W 47 St & 10 Ave,6824.07,40.725794,-74.008189,40.762699,-73.993012,member
999998,CD3FEC0CC4ED2C81,electric_bike,2023-12-07 11:07:49.902,2023-12-07 11:13:55.084,Broadway & W 53 St,6779.05,W 47 St & 10 Ave,6824.07,40.763649,-73.982692,40.762699,-73.993012,member
999999,D8E9C6C6B2EC17A6,classic_bike,2023-12-05 18:40:52.094,2023-12-05 18:45:26.746,W 41 St & 8 Ave,6602.03,W 47 St & 10 Ave,6824.07,40.756405,-73.990026,40.762699,-73.993012,member

In [3]:
# Importing dataframe dated 12/23 (part 2) for nyc
path = r'/Users/matthewabrams/'
nyc_bikes_202312_part2 = pd.read_csv(os.path.join(path, 'Downloads', '202312-citibike-tripdata_2.csv'), index_col = False)
nyc_bikes_202312_part2

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5772778972800B87,electric_bike,2023-12-20 06:18:04.187,2023-12-20 06:24:50.461,W 41 St & 8 Ave,6602.03,Madison Ave & E 26 St,6131.12,40.756330,-73.989260,40.742685,-73.986713,member
1,32DD834BEA2ABA5B,classic_bike,2023-12-21 16:15:52.308,2023-12-21 16:21:22.124,46 Ave & 5 St,6286.02,44 Dr & Jackson Ave,6352.01,40.747310,-73.954510,40.747182,-73.943264,member
2,3B6B1AA2B94A01D1,classic_bike,2023-12-07 11:49:31.277,2023-12-07 11:56:07.264,46 Ave & 5 St,6286.02,44 Dr & Jackson Ave,6352.01,40.747310,-73.954510,40.747182,-73.943264,member
3,A8F4C66161031B63,electric_bike,2023-12-26 06:17:43.385,2023-12-26 06:24:11.386,W 41 St & 8 Ave,6602.03,Madison Ave & E 26 St,6131.12,40.756456,-73.989694,40.742685,-73.986713,member
4,A6176AFE373FB4C8,electric_bike,2023-12-21 06:58:24.078,2023-12-21 07:04:17.045,E 53 St & 3 Ave,6617.02,1 Ave & E 68 St,6822.09,40.757470,-73.969427,40.765005,-73.958185,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,CD641B127C2CA182,classic_bike,2023-12-30 10:45:29.051,2023-12-30 11:02:20.645,E 5 St & Cooper Sq,5712.12,1 Ave & E 6 St,5626.15,40.727690,-73.990993,40.726331,-73.986169,member
999996,25981C7612210BDF,classic_bike,2023-12-19 13:59:39.122,2023-12-19 15:06:17.184,E 15 St & 3 Ave,5863.07,Lafayette St & E 8 St,5788.13,40.734232,-73.986923,40.730207,-73.991026,member
999997,EAE09BCCA66EA359,electric_bike,2023-12-07 17:29:51.875,2023-12-07 17:44:34.612,W 20 St & 5 Ave,6098.02,E 4 St & Ave B,5515.08,40.739610,-73.991710,40.723347,-73.982659,member
999998,06002F45DD314622,electric_bike,2023-12-11 16:01:36.010,2023-12-11 16:14:25.697,E 15 St & 3 Ave,5863.07,6 Ave & W 45 St,6593.15,40.734089,-73.986862,40.756951,-73.982631,member
999999,14AE0259C35C3545,electric_bike,2023-12-18 16:45:40.688,2023-12-18 16:54:19.801,Clay Ave & E 173 St,8281.06,Freeman St & Southern Blvd,8060.01,40.843321,-73.904847,40.830051,-73.892103,member

In [4]:
# Importing dataframe dated 12/23 (part 3) for nyc
path = r'/Users/matthewabrams/'
nyc_bikes_202312_part3 = pd.read_csv(os.path.join(path, 'Downloads', '202312-citibike-tripdata_3.csv'), index_col = False)
nyc_bikes_202312_part3

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F278A34719D0F0B8,electric_bike,2023-12-23 23:54:42.568,2023-12-24 00:10:27.929,E 44 St & Lexington Ave,6464.09,1 Ave & E 6 St,5626.15,40.752432,-73.975471,40.726331,-73.986169,member
1,AD5DA29261FA48D1,classic_bike,2023-12-19 07:12:30.918,2023-12-19 07:19:24.761,51 Ave & 61 St,5923.02,61 St & Woodside Ave,6191.06,40.735680,-73.903870,40.745010,-73.903600,member
2,359BD68361A36DDB,classic_bike,2023-12-05 07:09:33.949,2023-12-05 07:15:00.338,51 Ave & 61 St,5923.02,61 St & Woodside Ave,6191.06,40.735680,-73.903870,40.745010,-73.903600,member
3,10A3EE078E194C29,classic_bike,2023-12-05 08:36:28.359,2023-12-05 08:42:31.628,51 Ave & 61 St,5923.02,61 St & Woodside Ave,6191.06,40.735680,-73.903870,40.745010,-73.903600,member
4,FA032FBC4D231275,classic_bike,2023-12-16 07:08:00.530,2023-12-16 07:13:09.254,51 Ave & 61 St,5923.02,61 St & Woodside Ave,6191.06,40.735680,-73.903870,40.745010,-73.903600,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204869,ADDC132B2781F4ED,electric_bike,2023-12-17 12:29:57.955,2023-12-17 12:33:43.211,W 76 St & Columbus Ave,7281.09,Amsterdam Ave & W 82 St,7360.1,40.780184,-73.977285,40.785247,-73.976673,member
204870,C2A1CE9F5D86CEBC,electric_bike,2023-12-15 12:25:50.809,2023-12-15 12:39:32.176,Fresh Pond Rd & 69 Ave,4945.06,Myrtle Ave & Marcy Ave,4707.03,40.703139,-73.895477,40.695398,-73.949549,member
204871,38A28CE39397CA1E,classic_bike,2023-12-12 17:11:16.792,2023-12-12 17:17:45.781,Ocean Ave & Crooke Ave,3408.05,Lincoln Rd & Ocean Ave,3633.08,40.653260,-73.961720,40.660500,-73.962600,member
204872,B9C000D3EECE6A8F,electric_bike,2023-12-26 19:10:18.563,2023-12-26 19:14:48.843,Maiden Ln & Pearl St,5065.10,Centre St & Chambers St,5207.01,40.752142,-73.993647,40.712733,-74.004607,member
204873,D12C9B14AD682510,classic_bike,2023-12-09 16:20:57.967,2023-12-09 16:25:35.530,Lincoln Ave & E 138 St,7744.06,Willis Ave & Bruckner Blvd,7691.05,40.810893,-73.927311,40.805701,-73.925177,member

In [5]:
# Importing dataframe dated 11/23 for nyc
path = r'/Users/matthewabrams/'
nyc_bikes_202311 = pd.read_csv(os.path.join(path, 'Downloads', '202311-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202311

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887732,B06C26BA0C5E31F8,classic_bike,2023-11-28 09:57:05,2023-11-28 10:03:47,2 Ave & E 122 St,7622.12,2 Ave & E 104 St,7436.11,40.800672,-73.934900,40.789211,-73.943708,member
2887733,536BFFBCD957FCA7,classic_bike,2023-11-30 22:37:43,2023-11-30 22:41:42,5 Ave & 3 St,3987.06,10 St & 7 Ave,3762.08,40.672737,-73.983607,40.666208,-73.981999,member
2887734,BE9FCBED91CADF0B,classic_bike,2023-11-10 13:49:27,2023-11-10 13:53:53,W 47 St & 9 Ave,6786.02,Broadway & W 53 St,6779.05,40.761374,-73.990163,40.763441,-73.982681,member
2887735,CAC97E13CB8AA481,classic_bike,2023-11-20 14:16:31,2023-11-20 14:20:08,1 Ave & E 6 St,5626.15,Cooper Square & Astor Pl,5712.03,40.726226,-73.986142,40.729515,-73.990753,member
2887736,B51FC32482263D7E,classic_bike,2023-11-15 08:27:36,2023-11-15 08:32:22,Christopher St & Greenwich St,5847.01,Spring St & Hudson St,5653.12,40.732916,-74.007114,40.725840,-74.007653,member

In [6]:
# Importing dataframe dated 10/23 for nyc

nyc_bikes_202310 = pd.read_csv(os.path.join(path, 'Downloads', '202310-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202310

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F01D2D54E9E60D6E,classic_bike,2023-10-03 02:48:38,2023-10-03 02:48:40,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677223,-73.922792,40.677170,-73.922850,casual
1,CAE4EDBEA07001BD,classic_bike,2023-10-11 16:03:17,2023-10-11 16:45:26,Central Park West & W 85 St,7354.01,Central Park West & W 85 St,7354.01,40.784760,-73.969862,40.784760,-73.969862,casual
2,FDC34BAD31193E07,classic_bike,2023-10-11 19:57:13,2023-10-11 20:20:10,Hicks St & Montague St,4645.09,5 St & 6 Ave,3874.01,40.694974,-73.995936,40.670484,-73.982090,casual
3,DFEA5E65AE91CE2A,classic_bike,2023-10-10 20:18:22,2023-10-10 20:18:37,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691669,-74.000139,40.691652,-73.999979,casual
4,48299D8BE9B55255,classic_bike,2023-10-17 16:26:58,2023-10-17 16:34:27,E 41 St & Madison Ave (SE corner),6432.10,E 58 St & 3 Ave,6762.02,40.751845,-73.979585,40.760958,-73.967245,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3823668,51EEA89890139F57,classic_bike,2023-10-26 08:24:19,2023-10-26 08:30:15,Lewis Ave & Madison St,4425.02,Myrtle Ave & Lewis Ave,4729.01,40.686312,-73.935775,40.696820,-73.937569,member
3823669,439EF43E94F44C88,classic_bike,2023-10-13 11:43:44,2023-10-13 11:52:39,E 44 St & Lexington Ave,6464.09,E 58 St & 3 Ave,6762.02,40.752643,-73.974996,40.760958,-73.967245,member
3823670,A708652F897CA143,classic_bike,2023-10-19 16:37:15,2023-10-19 16:45:47,8 Ave & W 38 St,6526.05,W 48 St & Rockefeller Plaza,6626.11,40.754646,-73.991850,40.757769,-73.979294,casual
3823671,42E855EBB9F79B8E,classic_bike,2023-10-19 17:50:36,2023-10-19 18:01:55,8 Ave & W 38 St,6526.05,W 56 St & 6 Ave,6809.07,40.754610,-73.991770,40.763406,-73.977225,casual
3823672,B0E02662944E86C9,classic_bike,2023-10-19 15:33:27,2023-10-19 15:55:14,Riverside Dr & W 78 St,7340.06,Amsterdam Ave & W 79 St,7311.02,40.784021,-73.983778,40.782939,-73.978652,casual

In [7]:
# Importing dataframe dated 9/23 for nyc

nyc_bikes_202309 = pd.read_csv(os.path.join(path, 'Downloads', '202309-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202309

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B0A0F1DEFA4B72FC,electric_bike,2023-09-03 10:20:41,2023-09-03 10:24:16,E 1 St & Bowery,5636.13,E 10 St & 2 Ave,5746.02,40.724861,-73.992131,40.729708,-73.986598,member
1,2B26AB15647BF4EE,classic_bike,2023-09-27 15:44:23,2023-09-27 15:53:25,Pearl St & Hanover Square,4993.02,Allen St & Rivington St,5414.06,40.704650,-74.009133,40.720196,-73.989978,member
2,9D2B5971CA4E513F,classic_bike,2023-09-19 13:40:48,2023-09-19 13:48:11,E 1 St & Bowery,5636.13,E 10 St & 2 Ave,5746.02,40.724753,-73.992116,40.729708,-73.986598,member
3,17E6760596DC3ABE,classic_bike,2023-09-30 16:27:50,2023-09-30 16:56:35,Central Ave & Himrod St,4713.01,Mott St & Prince St,5561.04,40.696706,-73.922935,40.723180,-73.994800,member
4,97EFF376A7E2DC70,classic_bike,2023-09-21 16:59:53,2023-09-21 17:07:36,St Marks Pl & 2 Ave,5669.10,Mott St & Prince St,5561.04,40.728419,-73.987140,40.723180,-73.994800,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575157,472EFFA78D0FBCF2,classic_bike,2023-09-28 18:46:55,2023-09-28 18:59:28,Rogers Ave & Sterling St,3696.05,West Drive & Prospect Park West,3651.04,40.663062,-73.953875,40.661063,-73.979453,member
3575158,E986DA2AAB275937,classic_bike,2023-09-12 08:13:58,2023-09-12 08:24:03,Prospect Pl & Underhill Ave,4116.08,Flatbush Ave & Lincoln Rd,3593.1,40.676969,-73.965790,40.661310,-73.960910,member
3575159,550CD10C7A00375E,classic_bike,2023-09-11 16:48:06,2023-09-11 17:04:33,E 56 St & Madison Ave,6732.01,E 22 St & 2 Ave,5971.09,40.761573,-73.972628,40.737169,-73.981225,member
3575160,D4513B0A34BFD970,classic_bike,2023-09-07 07:42:11,2023-09-07 07:48:58,E 77 St & 3 Ave,7092.06,E 48 St & 3 Ave,6541.03,40.773280,-73.958971,40.754601,-73.971879,member
3575161,12A14A1308892249,classic_bike,2023-09-22 13:04:02,2023-09-22 13:12:25,Broadway & W 58 St,6948.10,6 Ave & W 45 St,6593.15,40.766953,-73.981693,40.756951,-73.982631,member

In [8]:
# Importing dataframe dated 8/23 for nyc

nyc_bikes_202308 = pd.read_csv(os.path.join(path, 'Downloads', '202308-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202308

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C5E94016E7939757,classic_bike,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,member
1,E88D94798ABBBD7C,classic_bike,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,member
2,341D3CE4743A92EC,classic_bike,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,member
3,21C763DECA96FD02,classic_bike,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,member
4,A8533C28598A6AB8,classic_bike,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093164,1DF107B2D3236068,classic_bike,2023-08-01 17:08:26,2023-08-01 17:17:22,W 17 St & 8 Ave,6148.02,Gramercy Park N & Gramercy Park E,6013.12,40.741776,-74.001497,40.737950,-73.985090,member
4093165,168B289864D8DE47,classic_bike,2023-08-27 17:06:25,2023-08-27 17:23:47,W 17 St & 8 Ave,6148.02,W 47 St & 10 Ave,6824.07,40.741776,-74.001497,40.762699,-73.993012,member
4093166,18FC63FE8411C4B1,classic_bike,2023-08-24 08:22:50,2023-08-24 08:32:43,Bergen St & Vanderbilt Ave,4157.10,Kingston Ave & Herkimer St,4205.06,40.679461,-73.967905,40.678907,-73.941428,member
4093167,8806D0CDD899C339,classic_bike,2023-08-06 13:33:22,2023-08-06 13:38:43,Adam Clayton Powell Blvd & W 123 St,7704.04,Lenox Ave & W 133 St,7790.04,40.807832,-73.949373,40.812960,-73.941878,member
4093168,FEDA43F66995347C,classic_bike,2023-08-29 17:02:02,2023-08-29 17:04:51,E 7 St & Avenue A,5626.07,E 13 St & Avenue A,5779.09,40.726218,-73.983799,40.729667,-73.980680,member

In [9]:
# Importing dataframe dated 7/23 for nyc

nyc_bikes_202307 = pd.read_csv(os.path.join(path, 'Downloads', '202307-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202307

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC78328130CD8A16,classic_bike,2023-07-16 20:42:57,2023-07-16 20:45:13,St. Nicholas Ave & W 126 St,7756.10,Adam Clayton Powell Blvd & W 126 St,7738.04,40.811432,-73.951878,40.809495,-73.947765,member
1,71A4DFA231ADAEA2,classic_bike,2023-07-29 12:22:21,2023-07-29 12:26:54,Adam Clayton Powell Blvd & W 118 St,7670.09,Adam Clayton Powell Blvd & W 126 St,7738.04,40.804372,-73.951475,40.809495,-73.947765,member
2,B64451D0D9F52134,classic_bike,2023-07-30 18:30:18,2023-07-30 18:35:42,St. Nicholas Ave & W 126 St,7756.10,Lenox Ave & W 130 St,7753.13,40.811378,-73.951827,40.810792,-73.943068,member
3,EEECB3E0E05EB0DB,classic_bike,2023-07-04 19:59:20,2023-07-04 20:02:03,St. Nicholas Ave & W 126 St,7756.10,Adam Clayton Powell Blvd & W 126 St,7738.04,40.811432,-73.951878,40.809495,-73.947765,member
4,76B706DF4FC180DC,classic_bike,2023-07-03 19:33:36,2023-07-03 19:43:59,St. Nicholas Ave & W 126 St,7756.10,Pleasant Ave & E 116 St,7450.05,40.811543,-73.951813,40.794988,-73.933335,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3776251,8EB48FBE46A673DF,classic_bike,2023-07-28 19:11:45,2023-07-28 19:38:24,S 4 St & Rodney St,5156.05,Irving Ave & Halsey St,4695.04,40.709340,-73.956080,40.694670,-73.906630,member
3776252,8B66692B4C236E00,classic_bike,2023-07-11 20:09:42,2023-07-11 20:38:01,Madison Ave & E 120 St,7667.04,Intervale Ave & Westchester Ave,7948.10,40.803026,-73.942863,40.821967,-73.896752,member
3776253,86E2D896051F1420,classic_bike,2023-07-25 21:05:48,2023-07-25 21:10:15,Windsor Pl & Howard Pl,3579.04,14 St & 5 Ave,3771.06,40.659647,-73.980421,40.666287,-73.988951,member
3776254,556B12591EC0C385,classic_bike,2023-07-15 13:15:14,2023-07-15 13:25:55,DeKalb Ave & Vanderbilt Ave,4461.04,Broadway & Kent Ave,5134.09,40.689412,-73.968847,40.710888,-73.968329,member
3776255,1FE35D1565CF12ED,electric_bike,2023-07-05 09:19:00,2023-07-05 09:21:34,E 117 St & 1 Ave,7579.11,E 116 St & 2 Ave,7563.06,40.796568,-73.934595,40.796879,-73.937261,member

In [10]:
# Importing dataframe dated 6/23 for nyc

nyc_bikes_202306 = pd.read_csv(os.path.join(path, 'Downloads', '202306-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202306

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,984F50BCBC76DD9A,classic_bike,2023-06-11 06:54:21,2023-06-11 07:12:28,W 84 St & Columbus Ave,7382.04,Amsterdam Ave & W 125 St,7800.03,40.785000,-73.972834,40.813358,-73.956461,member
1,03E3D62E7FB76B05,classic_bike,2023-06-19 15:23:11,2023-06-19 16:00:05,E 89 St & York Ave,7204.08,Mott St & Prince St,5561.04,40.777958,-73.945928,40.723180,-73.994800,member
2,8E7EE421A0B8BBF3,classic_bike,2023-06-06 16:07:05,2023-06-06 16:15:14,E 51 St & 2 Ave,6575.03,E 25 St & 1 Ave,6004.07,40.755357,-73.967489,40.738177,-73.977387,member
3,24D66A0C46493CB1,classic_bike,2023-06-26 19:52:23,2023-06-26 19:55:47,India St Pier,5794.05,Franklin St & Dupont St,5944.01,40.731735,-73.961239,40.735640,-73.958660,member
4,E944882A074B8F61,classic_bike,2023-06-05 08:57:57,2023-06-05 09:13:36,E 47 St & 2 Ave,6498.1,5 Ave & E 29 St,6248.06,40.753231,-73.970325,40.745168,-73.986831,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3560254,E6B04D2FD398493E,classic_bike,2023-06-22 18:06:15,2023-06-22 18:19:31,University Pl & E 8 St,5755.14,Bialystoker Pl & Delancey St,5335.03,40.731437,-73.994903,40.716226,-73.982612,member
3560255,A9C0665FC912A63B,classic_bike,2023-06-12 09:16:47,2023-06-12 09:42:18,N 7 St & Driggs Ave,5340.01,31 St & Thomson Ave,6227.02,40.716967,-73.956388,40.744697,-73.935404,member
3560256,C6B241D76A0137FD,classic_bike,2023-06-11 17:23:58,2023-06-11 18:02:36,12 Ave & W 125 St,7886.02,Central Park S & 6 Ave,6876.04,40.818299,-73.960405,40.765909,-73.976342,member
3560257,B218070FEA49C6B3,classic_bike,2023-06-27 18:16:21,2023-06-27 18:33:12,W 34 St & 11 Ave,6578.01,11 Ave & W 59 St,7059.01,40.755942,-74.002116,40.771497,-73.990460,casual
3560258,69FB0F587F4022B6,classic_bike,2023-06-02 14:25:05,2023-06-02 14:32:29,Sullivan St & Washington Sq,5721.01,8 Ave & W 16 St,6072.11,40.730477,-73.999061,40.740983,-74.001702,member

In [11]:
# Importing dataframe dated 5/23 for nyc

nyc_bikes_202305 = pd.read_csv(os.path.join(path, 'Downloads', '202305-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202305

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,176B188F3289F37B,classic_bike,2023-05-23 19:22:53,2023-05-23 19:35:23,E 50 St & Park Ave,6659.10,E 74 St & 1 Ave,6953.08,40.757306,-73.974518,40.768974,-73.954823,member
1,BB6957A02501C686,classic_bike,2023-05-27 08:49:55,2023-05-27 08:57:42,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
2,C67567E1DAFB9F2C,classic_bike,2023-05-12 20:19:58,2023-05-12 20:36:07,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
3,89DDFCEAE05D043A,electric_bike,2023-05-03 07:59:13,2023-05-03 08:07:04,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
4,63B1D5A7A2316252,classic_bike,2023-05-13 10:23:52,2023-05-13 10:47:17,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580761,BA28157F10FA9C78,classic_bike,2023-05-11 17:37:54,2023-05-11 17:43:33,Lewis Ave & Fulton St,4196.01,Hancock St & Bedford Ave,4255.05,40.679739,-73.934619,40.682166,-73.953990,member
3580762,5FD57F3ED53FDBEB,classic_bike,2023-05-21 12:36:04,2023-05-21 13:19:32,35 Ave & 37 St,6563.12,5 Ave & E 78 St,7161.08,40.755733,-73.923661,40.776321,-73.964274,member
3580763,30CC35A9A433B701,classic_bike,2023-05-08 09:37:54,2023-05-08 10:04:59,Broadway & Berry St,5164.05,3 St & Prospect Park West,3865.05,40.710425,-73.965394,40.668132,-73.973638,member
3580764,2968C17CC49A7187,classic_bike,2023-05-27 19:55:19,2023-05-27 20:00:41,W 55 St & 6 Ave,6809.09,W 50 St & 9 Ave,6854.05,40.763189,-73.978434,40.763605,-73.989180,member
3580765,CD9203C8D4896BA1,classic_bike,2023-05-23 19:08:47,2023-05-23 19:22:59,E 51 St & 2 Ave,6575.03,E 11 St & 1 Ave,5746.14,40.755293,-73.967641,40.729538,-73.984267,member

In [12]:
# Importing dataframe dated 4/23 for nyc

nyc_bikes_202304 = pd.read_csv(os.path.join(path, 'Downloads', '202304-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202304

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,159C90AB46D5631B,classic_bike,2023-04-01 17:24:06,2023-04-01 17:46:10,Hoyt St & Warren St,4330.09,Washington St & Laight St,5509.02,40.684294,-73.988944,40.722310,-74.010600,member
1,4349D44670885CED,electric_bike,2023-04-13 15:09:12,2023-04-13 15:16:11,E 25 St & 2 Ave,6046.02,E 47 St & 2 Ave,6498.10,40.739126,-73.979738,40.753231,-73.970325,member
2,55EB4E8AF45439D2,electric_bike,2023-04-28 15:17:00,2023-04-28 15:26:09,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763126,-73.965269,40.763189,-73.978434,member
3,3133FC58AA938D08,classic_bike,2023-04-23 16:18:49,2023-04-23 17:10:50,Washington Pl & 6 Ave,5838.09,E 56 St & 3 Ave,6691.11,40.732241,-74.000264,40.759345,-73.967597,member
4,BF2DD897668DA1AC,classic_bike,2023-04-21 15:42:08,2023-04-21 15:47:04,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763112,-73.965812,40.763189,-73.978434,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2854345,DFC55A165D6269E9,classic_bike,2023-04-02 13:35:16,2023-04-02 13:50:28,DeKalb Ave & Vanderbilt Ave,4461.04,Huron St & Franklin St,5869.04,40.689437,-73.968913,40.732660,-73.958260,member
2854346,4F92053698BB6273,electric_bike,2023-04-04 23:10:58,2023-04-04 23:12:31,Madison Ave & E 120 St,7667.04,Mt Morris Park W & W 120 St,7685.14,40.802950,-73.942954,40.804038,-73.945925,member
2854347,260D9EAAC23F4070,classic_bike,2023-04-12 08:28:13,2023-04-12 08:34:35,W 17 St & 8 Ave,6148.02,W 25 St & 6 Ave,6215.04,40.741776,-74.001497,40.743954,-73.991449,member
2854348,45EE681A9B0A8245,classic_bike,2023-04-19 19:30:04,2023-04-19 19:32:30,Madison Ave & E 120 St,7667.04,Mt Morris Park W & W 120 St,7685.14,40.802950,-73.942954,40.804038,-73.945925,member
2854349,D6D8FDC7FFFC4D5C,classic_bike,2023-04-05 08:26:20,2023-04-05 08:31:25,W 17 St & 8 Ave,6148.02,W 25 St & 6 Ave,6215.04,40.741776,-74.001497,40.743954,-73.991449,member

In [13]:
# Importing dataframe dated 3/23 for nyc

nyc_bikes_202303 = pd.read_csv(os.path.join(path, 'Downloads', '202303-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202303

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EAB9FFEAB7BDBAF2,classic_bike,2023-03-15 18:11:59,2023-03-15 18:18:38,6 Ave & W 33 St,6364.07,9 Ave & W 22 St,6266.06,40.748423,-73.988208,40.745497,-74.001971,member
1,B57211E2408E604F,classic_bike,2023-03-18 21:05:59,2023-03-18 21:10:51,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749134,-73.988536,40.754145,-73.996089,member
2,9411DD44FB7406A9,classic_bike,2023-03-16 10:16:15,2023-03-16 10:24:27,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749013,-73.988484,40.754145,-73.996089,member
3,DC2D4F90D746F435,classic_bike,2023-03-01 06:55:20,2023-03-01 07:05:44,E 5 St & Ave A,5626.06,8 Ave & W 31 St,6450.05,40.724775,-73.983742,40.750585,-73.994685,member
4,63874304EFBD61EE,classic_bike,2023-03-02 23:21:02,2023-03-02 23:42:19,3 Ave & Schermerhorn St,4437.01,Greenpoint Ave & Manhattan Ave,5785.05,40.686803,-73.979754,40.730260,-73.953940,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194209,57870BEBA3FF73E4,classic_bike,2023-03-31 05:46:55,2023-03-31 05:49:53,11 Ave & W 27 St,6425.04,W 34 St & 11 Ave,6578.01,40.751396,-74.005226,40.755942,-74.002116,member
2194210,4E31529528517CC8,electric_bike,2023-03-16 02:18:25,2023-03-16 02:22:53,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751396,-74.005226,40.756604,-73.997901,member
2194211,CBE65CCA422B3768,classic_bike,2023-03-17 08:38:51,2023-03-17 08:42:12,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751197,-74.005479,40.756604,-73.997901,member
2194212,C6F86C00DD3ABFB0,classic_bike,2023-03-15 19:19:26,2023-03-15 19:32:40,Putnam Ave & Throop Ave,4392.04,Melrose St & Broadway,4801.04,40.685153,-73.941110,40.697481,-73.935877,member
2194213,7C2E424FD54ACAD5,classic_bike,2023-03-29 09:13:23,2023-03-29 09:19:46,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751328,-74.005502,40.756604,-73.997901,member

In [14]:
# Importing dataframe dated 2/23 for nyc

nyc_bikes_202302 = pd.read_csv(os.path.join(path, 'Downloads', '202302-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202302

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,16991A7C313082EB,classic_bike,2023-02-16 18:20:42,2023-02-16 18:38:06,Kosciuszko St & Nostrand Ave,4519.04,Eastern Pkwy & Troy Ave,3862.07,40.690698,-73.951423,40.669290,-73.936790,casual
1,856FFB566BEEB824,classic_bike,2023-02-09 17:29:36,2023-02-09 17:33:07,Riverside Dr & W 138 St,7942.21,St. Nicholas Terrace & Convent Ave,7937.15,40.823134,-73.955860,40.821294,-73.947868,member
2,B1FE28D50B493430,classic_bike,2023-02-16 15:33:51,2023-02-16 15:35:01,Clinton St & Tillary St,4748.07,Clark St & Henry St,4789.03,40.696233,-73.991421,40.697601,-73.993446,member
3,870EA3D724EA6162,classic_bike,2023-02-23 17:11:39,2023-02-23 17:12:56,Clinton St & Tillary St,4748.07,Clark St & Henry St,4789.03,40.696233,-73.991421,40.697601,-73.993446,member
4,7DE8FA9EAAE8C4ED,electric_bike,2023-02-18 19:29:17,2023-02-18 19:50:52,Audubon Ave & W 192 St,8469.05,St. Nicholas Terrace & Convent Ave,7937.15,40.855890,-73.927082,40.821294,-73.947868,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752143,389430A56EA04541,electric_bike,2023-02-21 12:40:49,2023-02-21 12:43:41,W 22 St & 10 Ave,6306.06,W 22 St & 8 Ave,6224.03,40.746920,-74.004519,40.744751,-73.999154,member
1752144,653158DC3395255E,classic_bike,2023-02-14 16:20:36,2023-02-14 17:03:37,W 47 St & 6 Ave,6667.04,W 51 St & 6 Ave,6740.1,40.758397,-73.982550,40.760660,-73.980420,member
1752145,C3707AC98071DDAD,classic_bike,2023-02-11 16:52:16,2023-02-11 17:12:15,W 22 St & 10 Ave,6306.06,W 22 St & 8 Ave,6224.03,40.746920,-74.004519,40.744751,-73.999154,member
1752146,F3A6D114409FA6A1,classic_bike,2023-02-22 19:25:20,2023-02-22 19:28:54,W 22 St & 10 Ave,6306.06,W 22 St & 8 Ave,6224.03,40.746920,-74.004519,40.744751,-73.999154,member
1752147,0F4573E00346E489,classic_bike,2023-02-03 18:54:53,2023-02-03 18:57:54,W 47 St & 6 Ave,6667.04,W 51 St & 6 Ave,6740.1,40.758397,-73.982550,40.760660,-73.980420,member

In [15]:
# Importing dataframe dated 1/23 for nyc

nyc_bikes_202301 = pd.read_csv(os.path.join(path, 'Downloads', '202301-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202301

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855196,E4317A223A047233,classic_bike,2023-01-02 17:29:12,2023-01-02 18:14:59,Cedar St & Myrtle Ave,4751.01,W 21 St & 6 Ave,6140.05,40.697740,-73.926391,40.741740,-73.994156,member
1855197,ABE3E9D3F081A13E,classic_bike,2023-01-03 17:47:28,2023-01-03 17:52:21,E 115 St & Madison Ave,7599.02,Park Ave & E 124 St,7682.01,40.798944,-73.944846,40.804555,-73.939686,member
1855198,8F1B225FFE447DD6,classic_bike,2023-01-12 20:18:52,2023-01-12 20:21:31,E 14 St & 1 Ave,5779.1,E 12 St & Ave C,5616.08,40.731402,-73.982845,40.727243,-73.976831,member
1855199,A631B3D94A1BBE4F,classic_bike,2023-01-13 00:16:36,2023-01-13 00:26:56,Sullivan Pl & Bedford Ave,3736.04,Kosciuszko St & Nostrand Ave,4519.04,40.664281,-73.957594,40.690725,-73.951335,member
1855200,719C2F8C8D500BA2,electric_bike,2023-01-15 15:57:48,2023-01-15 16:05:26,W Broadway & Spring St,5569.06,W 21 St & 6 Ave,6140.05,40.724947,-74.001659,40.741740,-73.994156,member

In [16]:
# Importing dataframe dated 12/22 (part 1) for nyc

nyc_bikes_202212_part1 = pd.read_csv(os.path.join(path, 'Downloads', '202212-citibike-tripdata_1.csv'), index_col = False)
nyc_bikes_202212_part1

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4EEA8A79DAC66DD3,classic_bike,2022-12-10 12:08:02.382,2022-12-10 12:10:28.675,Bridge St & York St,4853.06,Front St & Jay St,4895.03,40.701334,-73.984712,40.702461,-73.986842,member
1,AE30216902339E7D,classic_bike,2022-12-14 07:46:34.502,2022-12-15 08:46:29.053,Lafayette St & E 8 St,5788.13,NaN,NaN,40.730207,-73.991026,40.720000,-74.010000,member
2,BBB6043BE0B59971,electric_bike,2022-12-09 19:45:53.848,2022-12-09 20:08:44.261,Lafayette St & E 8 St,5788.13,E 80 St & 2 Ave,7121.02,40.730594,-73.990801,40.773914,-73.954395,member
3,8A97593EA7D0400E,electric_bike,2022-12-18 15:41:30.170,2022-12-18 15:56:02.261,E 11 St & Avenue B,5659.11,W 10 St & Washington St,5847.06,40.727682,-73.979873,40.733424,-74.008515,member
4,03E08A553F5D0B50,electric_bike,2022-12-01 17:39:19.997,2022-12-01 18:02:43.946,E 11 St & Avenue B,5659.11,E 80 St & 2 Ave,7121.02,40.727656,-73.979606,40.773914,-73.954395,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2C18D66E198EA410,classic_bike,2022-12-04 20:11:00.788,2022-12-04 20:19:15.088,6 Ave & W 33 St,6364.07,9 Ave & W 39 St,6644.08,40.749013,-73.988484,40.756404,-73.994101,member
999996,3C0686D88E2F6AB5,classic_bike,2022-12-14 18:51:45.520,2022-12-14 18:57:44.283,E 20 St & Park Ave,6055.08,Ave A & E 14 St,5779.11,40.738274,-73.987520,40.730311,-73.980472,member
999997,42AAD1775F1D3138,classic_bike,2022-12-31 18:13:19.297,2022-12-31 18:19:11.314,E 20 St & Park Ave,6055.08,Ave A & E 14 St,5779.11,40.738274,-73.987520,40.730311,-73.980472,member
999998,DA4C5D66E1C60D25,classic_bike,2022-12-04 23:51:05.474,2022-12-05 00:20:25.181,Vesey St & Church St,5216.06,W 45 St & 8 Ave,6676.02,40.712220,-74.010472,40.759291,-73.988597,member
999999,A570DB28B3868263,electric_bike,2022-12-23 17:46:18.594,2022-12-23 17:51:21.043,E 20 St & Park Ave,6055.08,E 11 St & 1 Ave,5746.14,40.738039,-73.987402,40.729538,-73.984267,member

In [17]:
# Importing dataframe dated 12/22 (part 2) for nyc

nyc_bikes_202212_part2 = pd.read_csv(os.path.join(path, 'Downloads', '202212-citibike-tripdata_2.csv'), index_col = False)
nyc_bikes_202212_part2

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1361583B8DDD2C67,electric_bike,2022-12-07 17:46:15.155,2022-12-07 18:04:36.889,Vesey St & Church St,5216.06,E 11 St & 1 Ave,5746.14,40.712220,-74.010472,40.729538,-73.984267,member
1,3A7AC1ACDD926798,classic_bike,2022-12-18 13:11:31.463,2022-12-18 13:14:24.975,E 5 St & Ave A,5626.06,Ave A & E 14 St,5779.11,40.724790,-73.984301,40.730311,-73.980472,member
2,DAB816EF7AC4BDC7,electric_bike,2022-12-08 18:39:03.508,2022-12-08 18:45:39.109,6 Ave & W 33 St,6364.07,9 Ave & W 39 St,6644.08,40.748776,-73.988742,40.756404,-73.994101,member
3,E84E793996D396B3,electric_bike,2022-12-20 16:05:06.384,2022-12-20 16:07:32.967,E 5 St & Ave A,5626.06,Ave A & E 14 St,5779.11,40.725000,-73.984241,40.730311,-73.980472,member
4,DB6ECA2FFA40CCA2,classic_bike,2022-12-20 09:27:12.027,2022-12-20 09:30:37.044,E 5 St & Ave A,5626.06,Ave A & E 14 St,5779.11,40.724790,-73.984301,40.730311,-73.980472,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
592044,1F223EDAFF420AE3,electric_bike,2022-12-01 20:26:45.847,2022-12-01 20:30:46.012,Avenue D & E 3 St,5436.09,Stanton St & Chrystie St,5523.02,40.720701,-73.977939,40.722293,-73.991475,member
592045,CFA5C560ACB73B8E,classic_bike,2022-12-26 13:46:34.237,2022-12-26 13:52:43.900,43 Ave & 47 St,6209.05,39 Ave & 45 St,6401.03,40.744806,-73.917290,40.749478,-73.918265,member
592046,11C8C5E0DB947B07,classic_bike,2022-12-01 05:56:14.903,2022-12-01 06:06:10.357,Avenue D & E 3 St,5436.09,Bleecker St & Crosby St,5679.08,40.720828,-73.977932,40.726156,-73.995102,member
592047,5B9B083C534A5964,classic_bike,2022-12-02 11:54:15.871,2022-12-02 12:01:00.747,Montague St & Clinton St,4677.06,Sands St & Jay St,4821.03,40.694271,-73.992327,40.700119,-73.986200,member
592048,91C286C462F89A50,classic_bike,2022-12-18 13:35:22.574,2022-12-18 13:37:27.193,Montague St & Clinton St,4677.06,Cadman Plaza E & Tillary St,4677.01,40.694271,-73.992327,40.695977,-73.990149,member

In [18]:
# Importing dataframe dated 11/22 for nyc

nyc_bikes_202211 = pd.read_csv(os.path.join(path, 'Downloads', '202211-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202211

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,211A73DFC6752EFC,classic_bike,2022-11-30 21:36:23,2022-11-30 21:49:31,2 Ave & E 29 St,6122.09,Pitt St & Stanton St,5406.04,40.741724,-73.978093,40.719261,-73.981780,member
1,568E7F54B3EFB8C3,classic_bike,2022-11-20 11:06:30,2022-11-20 11:17:18,E 97 St & Madison Ave,7393.09,E 74 St & 1 Ave,6953.08,40.787826,-73.953423,40.768974,-73.954823,member
2,0ED37DE3609F47A1,classic_bike,2022-11-17 09:48:34,2022-11-17 09:56:14,E 97 St & Madison Ave,7393.09,Adam Clayton Powell Blvd & W 118 St,7670.09,40.787899,-73.953396,40.804372,-73.951475,member
3,AF0F9BAB2B4AA126,classic_bike,2022-11-02 12:23:36,2022-11-02 12:26:35,Morningside Ave & W 123 St,7741.01,Adam Clayton Powell Blvd & W 118 St,7670.09,40.809931,-73.955209,40.804372,-73.951475,member
4,215FF85772BA2D2B,classic_bike,2022-11-07 16:46:20,2022-11-07 16:54:16,2 Ave & E 29 St,6122.09,W 13 St & 5 Ave,5947.04,40.741803,-73.978004,40.735445,-73.994310,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460100,AF0FE64934F2F2FA,classic_bike,2022-11-12 09:57:24,2022-11-12 10:22:05,E 75 St & 3 Ave,6991.12,12 Ave & W 40 St,6765.01,40.771129,-73.957723,40.760875,-74.002777,casual
2460101,8173C49CE0822847,classic_bike,2022-11-01 16:33:08,2022-11-01 16:42:29,Verona Pl & Fulton St,4124.04,Dean St & Franklin Ave,4107.13,40.680356,-73.947679,40.677592,-73.955637,casual
2460102,E1764A36071338B6,classic_bike,2022-11-24 12:28:59,2022-11-24 12:33:56,30 Ave & 41 St,6812.06,31 St & Newtown Ave,6923.20,40.763422,-73.914142,40.767549,-73.920933,member
2460103,77D09FB5866F29B8,classic_bike,2022-11-08 10:50:13,2022-11-08 11:09:42,Jay St & York St,4895.09,Lincoln Pl & Classon Ave,3960.01,40.701214,-73.986726,40.672168,-73.960900,member
2460104,4BF983641958B6F7,classic_bike,2022-11-13 13:03:13,2022-11-13 13:09:27,Harman St & Seneca Ave,5002.09,Wyckoff Ave & Gates Ave,4847.03,40.705770,-73.912920,40.699871,-73.911719,member

In [19]:
# Importing dataframe dated 10/22 for nyc

path = r'/Users/matthewabrams'
nyc_bikes_202210 = pd.read_csv(os.path.join(path, 'Downloads', '202210-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202210

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2CF35A89B21C6E3C,classic_bike,2022-10-24 14:30:25,2022-10-24 14:37:35,St. Nicholas Ave & W 126 St,7756.10,Amsterdam Ave & W 136 St,7920.05,40.811388,-73.951995,40.819746,-73.951819,member
1,291CC2C6D361C2DA,classic_bike,2022-10-30 03:53:38,2022-10-30 03:57:57,Stuyvesant Ave & Gates Ave,4458.06,Halsey St & Tompkins Ave,4319.07,40.688445,-73.933195,40.682369,-73.944118,member
2,80192DC8429B07EE,classic_bike,2022-10-08 15:03:06,2022-10-08 15:17:13,Broadway & Berry St,5164.05,Meserole Ave & Manhattan Ave,5666.04,40.710361,-73.965304,40.727086,-73.952991,member
3,D214E550C317C65E,classic_bike,2022-10-18 08:32:04,2022-10-18 08:36:41,W 84 St & Columbus Ave,7382.04,W 76 St & Columbus Ave,7281.09,40.785000,-73.972834,40.780184,-73.977285,member
4,2D23E8BAE75AA184,classic_bike,2022-10-26 08:00:40,2022-10-26 08:10:27,Pike St & Monroe St,5159.04,Broad St & Bridge St,4962.08,40.711731,-73.991930,40.703652,-74.011678,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3021665,EB791C76AD3E012D,classic_bike,2022-10-20 11:13:29,2022-10-20 11:23:26,Clinton St & Union St,4266.03,3 St & 3 Ave,4028.03,40.683116,-73.997853,40.675070,-73.987752,member
3021666,B57BDF2A6FA4BA26,classic_bike,2022-10-10 18:36:52,2022-10-10 18:59:03,E 35 St & Madison Ave,6398.08,Central Park West & W 68 St,7079.06,40.748480,-73.982556,40.773407,-73.977825,member
3021667,412A5ADB8EE05B8D,classic_bike,2022-10-25 18:19:19,2022-10-25 18:35:42,Nassau St\t& Duffield St,4781.05,West St & Liberty St,5184.08,40.698374,-73.983878,40.711444,-74.014847,member
3021668,FB3AA7F68A0489ED,classic_bike,2022-10-30 13:53:08,2022-10-30 13:55:52,21 St & Hoyt Ave S,7126.01,24 Ave & 26 St,7152.1,40.774751,-73.923553,40.774591,-73.918544,member
3021669,91177E95D3937743,classic_bike,2022-10-26 16:56:11,2022-10-26 17:01:28,Park Pl & Church St,5288.08,West St & Liberty St,5184.08,40.713342,-74.009355,40.711444,-74.014847,member

In [20]:
# Importing dataframe dated 09/22 for nyc

path = r'/Users/matthewabrams'
nyc_bikes_202209 = pd.read_csv(os.path.join(path, 'Downloads', '202209-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202209

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,42B9E1161E021F66,classic_bike,2022-09-17 16:06:45,2022-09-17 16:18:03,Henry St & Degraw St,4380.08,7 Ave & Park Pl,4125.07,40.684736,-73.999088,40.677615,-73.973243,member
1,FE5FB109CA0FB68B,classic_bike,2022-09-25 14:26:25,2022-09-25 14:39:43,6 Ave & W 34 St,6364.1,W 50 St & 9 Ave,6854.05,40.749640,-73.988050,40.763605,-73.989180,member
2,D4E9E27DCE9CC556,classic_bike,2022-09-15 13:25:37,2022-09-15 13:51:35,6 Ave & W 34 St,6364.1,5 Ave & E 78 St,7161.08,40.749640,-73.988050,40.776321,-73.964274,member
3,757BFFFB009E8D21,classic_bike,2022-09-16 18:46:33,2022-09-16 18:52:42,48 St & 5 Ave,3202.06,36 St & 4 Ave,3420.01,40.646351,-74.009271,40.654144,-74.004220,member
4,4E6360AD2986736E,classic_bike,2022-09-10 09:20:56,2022-09-10 09:30:20,Steinway St & Ditmars Blvd,7074.01,Crescent St & 30 Ave,6958.06,40.772621,-73.906240,40.768692,-73.924957,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3507118,991C19F915D01AD4,classic_bike,2022-09-01 09:19:01,2022-09-01 09:42:30,N 15 St & Wythe Ave,5520.09,Lafayette St & E 8 St,5788.13,40.724055,-73.955736,40.730207,-73.991026,member
3507119,B1C2E48F72C8EC15,classic_bike,2022-09-17 15:21:43,2022-09-17 15:59:19,Greenwich St & Perry St,5922.04,Christopher St & Greenwich St,5847.01,40.734980,-74.006970,40.732916,-74.007114,member
3507120,FA6C91DFB348AABA,classic_bike,2022-09-02 15:09:15,2022-09-02 15:11:48,Southern Blvd & E 172 St,8129.02,Freeman St & Southern Blvd,8060.01,40.834124,-73.889550,40.830051,-73.892103,member
3507121,D3C3E8ADF4F913E3,classic_bike,2022-09-24 01:30:53,2022-09-24 01:35:07,5 Ave & E 29 St,6248.06,E 26 St & 3 Ave,6089.11,40.745168,-73.986831,40.740693,-73.981606,member
3507122,83F64750663161E5,classic_bike,2022-09-20 21:23:46,2022-09-20 21:33:12,Mott St & Prince St,5561.04,Lafayette St & E 8 St,5788.13,40.723180,-73.994800,40.730207,-73.991026,member

In [21]:
# Importing dataframe dated 08/22 for nyc

nyc_bikes_202208 = pd.read_csv(os.path.join(path, 'Downloads', '202208-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202208

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,428051654CF1145B,classic_bike,2022-08-28 00:34:58,2022-08-28 00:55:20,Walker St & Baxter St,5351.07,Lexington Ave & E 24 St,6089.07,40.717411,-73.999573,40.740259,-73.984092,member
1,7282036E3ECDDD65,classic_bike,2022-08-31 16:33:38,2022-08-31 16:35:17,Lexington Ave & E 29 St,6164.09,Lexington Ave & E 24 St,6089.07,40.743116,-73.982154,40.740259,-73.984092,member
2,375C59BE1271E31C,electric_bike,2022-08-27 23:22:10,2022-08-27 23:34:57,E 132 St & Madison Ave,7748.02,Melrose Ave & E 150 St,7879.01,40.810224,-73.937195,40.816827,-73.917338,member
3,7281A7F21CE571AF,classic_bike,2022-08-26 19:01:01,2022-08-26 19:09:26,Lexington Ave & E 29 St,6164.09,E 13 St & 2 Ave,5820.08,40.743116,-73.982154,40.731539,-73.985302,member
4,A5093D7D77713F87,classic_bike,2022-08-25 22:16:16,2022-08-25 22:29:13,E 16 St & Irving Pl,5938.11,W 31 St & 7 Ave,6331.01,40.735367,-73.987974,40.749156,-73.991600,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681304,231398EE256269B0,classic_bike,2022-08-17 17:48:50,2022-08-17 18:06:13,27 St & Hunter St,6310.06,E 54 St & 1 Ave,6608.09,40.748500,-73.941275,40.756265,-73.964179,member
3681305,2F9EC3A7F60523B1,classic_bike,2022-08-08 23:02:58,2022-08-08 23:19:10,W 22 St & 10 Ave,6306.06,W 15 St & 6 Ave,5989.02,40.746920,-74.004519,40.738046,-73.996430,member
3681306,094B17D42252E33E,classic_bike,2022-08-27 11:10:59,2022-08-27 11:14:03,27 St & Hunter St,6310.06,11 St & 43 Ave,6438.04,40.748500,-73.941275,40.751907,-73.947912,member
3681307,9CEB6714CBEC7386,classic_bike,2022-08-29 22:55:27,2022-08-29 23:13:10,Washington Pl & Broadway,5755.01,Canal St & Rutgers St,5303.08,40.729039,-73.994046,40.714275,-73.989900,member
3681308,6F9ADF0B11F82DBE,classic_bike,2022-08-29 13:00:22,2022-08-29 13:10:08,Washington Pl & Broadway,5755.01,Canal St & Rutgers St,5303.08,40.729039,-73.994046,40.714275,-73.989900,member

In [22]:
# Importing dataframe dated 07/22 for nyc

nyc_bikes_202207 = pd.read_csv(os.path.join(path, 'Downloads', '202207-citbike-tripdata.csv'), index_col = False)
nyc_bikes_202207

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C09E4093905089BD,classic_bike,2022-07-23 11:34:57,2022-07-23 11:45:08,Melrose St & Broadway,4801.04,Myrtle Ave & Grove St,4816.05,40.697481,-73.935877,40.699050,-73.915160,member
1,374630DB5822C392,electric_bike,2022-07-29 18:19:08,2022-07-29 18:26:50,E 68 St & 3 Ave,6896.16,E 85 St & York Ave,7146.04,40.767128,-73.962246,40.775369,-73.948034,member
2,4F73CA25880A1215,electric_bike,2022-07-16 16:30:58,2022-07-16 17:39:18,W 37 St & 10 Ave,6611.02,Knickerbocker Ave & Cooper St,4582.05,40.756604,-73.997901,40.690810,-73.904480,member
3,ECD6EE19C0CC1D31,electric_bike,2022-07-17 17:35:57,2022-07-17 18:03:36,W 37 St & 10 Ave,6611.02,6 Ave & Broome St,5610.09,40.756604,-73.997901,40.724310,-74.004730,member
4,44D0987673B9997D,classic_bike,2022-07-11 07:56:29,2022-07-11 07:59:15,E 68 St & 3 Ave,6896.16,E 66 St & Madison Ave,6969.08,40.767128,-73.962246,40.768009,-73.968453,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3497385,EF571F06A5E34311,docked_bike,2022-07-10 14:08:11,2022-07-10 14:36:45,W 106 St & Central Park West,7606.01,Grand Army Plaza & Central Park S,6839.1,40.798186,-73.960591,40.764397,-73.973715,casual
3497386,9F9F55113999F07B,electric_bike,2022-07-27 01:47:52,2022-07-27 02:11:40,Delancey St & Eldridge St,5414.07,Calyer St & Guernsey St,5709.03,40.719383,-73.991479,40.727558,-73.955059,member
3497387,CBB7EF472D45EDAD,classic_bike,2022-07-18 19:35:34,2022-07-18 19:57:15,Grand Concourse & East Mount Eden Ave,8265.09,Weeks Ave & E 175 St,8340.05,40.843043,-73.911753,40.846879,-73.907342,member
3497388,C2176A140EBE4FB5,classic_bike,2022-07-25 08:13:04,2022-07-25 08:58:29,Court St & State St,4488.08,E 53 St & Lexington Ave,6617.09,40.690147,-73.992072,40.758281,-73.970694,member
3497389,405C56C8930284FD,classic_bike,2022-07-08 12:18:47,2022-07-08 12:27:02,W 59 St & 10 Ave,7023.04,Grand Army Plaza & Central Park S,6839.1,40.770513,-73.988038,40.764397,-73.973715,member

In [23]:
# Importing dataframe dated 06/22 for nyc

nyc_bikes_202206 = pd.read_csv(os.path.join(path, 'Downloads', '202206-citbike-tripdata.csv'), index_col = False)
nyc_bikes_202206

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FD85DE523427365B,classic_bike,2022-06-08 18:55:00,2022-06-08 18:58:13,E 149 St & Park Ave,7884.04,Morris Ave & E 153 St,7901.04,40.818154,-73.925294,40.820036,-73.921411,member
1,E1DF44B06B360036,classic_bike,2022-06-18 16:34:50,2022-06-18 16:47:49,E 115 St & Madison Ave,7599.02,W 148 St & Amsterdam Ave,8033.09,40.798983,-73.944716,40.827075,-73.945909,member
2,72B6DBF42BC1F9E1,classic_bike,2022-06-11 17:57:00,2022-06-11 18:07:33,E 115 St & Madison Ave,7599.02,2 Ave & E 99 St,7386.10,40.798944,-73.944846,40.786259,-73.945526,member
3,5FABA5CB97A6EA64,classic_bike,2022-06-23 17:32:04,2022-06-23 17:38:36,W Broadway & Spring St,5569.06,N Moore St & Hudson St,5470.02,40.724947,-74.001659,40.719961,-74.008443,member
4,EBA54764AA1A3A41,classic_bike,2022-06-30 16:17:43,2022-06-30 16:27:58,E 14 St & 1 Ave,5779.1,5 Ave & E 29 St,6248.06,40.731393,-73.982867,40.745168,-73.986831,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432878,52758C21D58728B4,classic_bike,2022-06-25 00:45:19,2022-06-25 00:58:01,Norman St & Wyckoff Ave,4654.01,Grove St & Broadway,4526.01,40.695170,-73.903110,40.690470,-73.923511,casual
3432879,2F2B099B77266BF2,classic_bike,2022-06-21 16:52:08,2022-06-21 17:16:43,Railroad Ave & Kay Ave,4990.02,Grove St & Broadway,4526.01,40.705148,-73.970781,40.690470,-73.923511,member
3432880,AEE172A41A2FDA65,classic_bike,2022-06-29 17:58:20,2022-06-29 18:12:10,Bushwick Ave & Powers St,5250.05,S 4 St & Wythe Ave,5204.05,40.712477,-73.941000,40.712859,-73.965903,member
3432881,3E6A2E15FD49F94E,classic_bike,2022-06-16 19:31:34,2022-06-16 19:42:42,Bushwick Ave & Powers St,5250.05,S 4 St & Wythe Ave,5204.05,40.712477,-73.941000,40.712859,-73.965903,member
3432882,EA18E4BF86FD46F8,classic_bike,2022-06-16 12:15:02,2022-06-16 12:16:40,Broadway & W 51 St,6779.04,8 Ave & W 49 St,6747.07,40.762288,-73.983362,40.761712,-73.986551,member

In [24]:
# Importing dataframe dated 05/22 for nyc

nyc_bikes_202205 = pd.read_csv(os.path.join(path, 'Downloads', '202205-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202205

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F49280E52B6491D8,electric_bike,2022-05-16 16:58:35,2022-05-16 17:08:56,Central Park North & Adam Clayton Powell Blvd,7617.07,E 89 St & 3 Ave,7265.10,40.799484,-73.955613,40.780628,-73.952167,member
1,B587F12BCC6778B0,electric_bike,2022-05-19 17:41:41,2022-05-19 17:53:35,Broadway & E 19 St,6098.12,W 44 St & 5 Ave,6551.02,40.738661,-73.989873,40.755003,-73.980144,member
2,D89D4D15B4E42A23,classic_bike,2022-05-27 08:34:05,2022-05-27 08:37:38,Rockaway Ave & Bainbridge St,4285.09,Van Sinderen Ave & Truxton St,4161.01,40.683200,-73.911666,40.678600,-73.903690,member
3,94B921DF9913EB66,electric_bike,2022-05-13 22:25:06,2022-05-13 22:51:29,Lexington Ave & E 36 St,6313.10,Grand St & Havemeyer St,5267.08,40.747574,-73.978801,40.712868,-73.956981,member
4,B81A75AC39BA13E1,classic_bike,2022-05-13 09:16:56,2022-05-13 09:24:25,Willoughby Ave & Hall St,4611.03,Bond St & Fulton St,4479.06,40.691960,-73.965369,40.689622,-73.983043,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2940595,6F515775CE3012B9,classic_bike,2022-05-15 07:57:48,2022-05-15 08:12:55,Broadway & W 36 St,6441.01,West End Ave & W 60 St,7059.08,40.750977,-73.987654,40.772370,-73.990050,member
2940596,25F899C46BB26C7D,classic_bike,2022-05-05 18:13:05,2022-05-05 18:20:10,Crescent St & 30 Ave,6958.06,Vernon Blvd & 31 Ave,7003.06,40.768692,-73.924957,40.769247,-73.935450,member
2940597,E9C36AD563030276,classic_bike,2022-05-28 00:12:09,2022-05-28 00:30:00,45 Ave & 21 St,6319.07,Vernon Blvd & 31 Ave,7003.06,40.747371,-73.947773,40.769247,-73.935450,member
2940598,27FA793948D2916A,classic_bike,2022-05-19 13:06:36,2022-05-19 13:18:02,Crescent St & 30 Ave,6958.06,46 St & 28 Ave,6842.02,40.768692,-73.924957,40.763328,-73.908782,member
2940599,7452B0859F68D412,classic_bike,2022-05-09 18:47:28,2022-05-09 18:52:38,W 50 St & 9 Ave,6854.05,West End Ave & W 60 St,7059.08,40.763605,-73.989180,40.772370,-73.990050,member

In [25]:
# Importing dataframe dated 04/22 for nyc

nyc_bikes_202204 = pd.read_csv(os.path.join(path, 'Downloads', '202204-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202204

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2E89F1D88B8347E6,classic_bike,2022-04-08 19:50:00,2022-04-08 19:55:28,E 89 St & 3 Ave,7265.10,Madison Ave & E 99 St,7443.01,40.780628,-73.952167,40.789485,-73.952429,member
1,43F6D61DFEDAE4AF,electric_bike,2022-04-27 10:19:54,2022-04-27 10:33:29,Broadway & W 29 St,6289.06,Broadway & W 29 St,6289.06,40.746201,-73.988557,40.746201,-73.988557,member
2,21C7076071104314,classic_bike,2022-04-28 13:10:59,2022-04-28 13:17:18,E 123 St & Lexington Ave,7636.05,E 123 St & Lexington Ave,7636.05,40.802926,-73.937900,40.802926,-73.937900,member
3,7D7CEA2953427D0C,classic_bike,2022-04-13 20:21:18,2022-04-13 20:37:28,W 36 St & 9 Ave,6569.07,W 36 St & 9 Ave,6569.07,40.754623,-73.995168,40.754623,-73.995168,member
4,AD7E176748A4A55E,electric_bike,2022-04-29 18:56:24,2022-04-29 18:57:16,Graham Ave & Withers St,5403.04,Graham Ave & Withers St,5403.04,40.716981,-73.944859,40.716981,-73.944859,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319608,5EBE9D296B9D3E3C,classic_bike,2022-04-22 13:08:15,2022-04-22 13:29:31,Allen St & Rivington St,5414.06,W 29 St & 9 Ave,6416.06,40.720196,-73.989978,40.750073,-73.998393,member
2319609,B66382DEDA84C464,classic_bike,2022-04-13 17:10:49,2022-04-13 17:26:08,St. Nicholas Terrace & Convent Ave,7937.15,E 138 St & Grand Concourse,7803.08,40.821294,-73.947868,40.813224,-73.930605,member
2319610,9EC4C49BE4CB1A09,classic_bike,2022-04-12 15:58:47,2022-04-12 16:41:17,E 88 St & 1 Ave,7235.13,E 91 St & 2 Ave,7286.01,40.778301,-73.948813,40.781153,-73.949630,member
2319611,C0188AB9FAEAA143,electric_bike,2022-04-28 15:52:49,2022-04-28 16:06:31,W 55 St & 6 Ave,6809.09,E 91 St & 2 Ave,7286.01,40.763189,-73.978434,40.781153,-73.949630,member
2319612,E8C2F305866DF134,electric_bike,2022-04-11 19:55:31,2022-04-11 20:09:19,W 87 St & West End Ave,7484.05,E 91 St & 2 Ave,7286.01,40.789622,-73.977570,40.781153,-73.949630,member

In [26]:
# Importing dataframe dated 03/22 for nyc

nyc_bikes_202203 = pd.read_csv(os.path.join(path, 'Downloads', '202203-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202203

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FA2F660C8D433037,electric_bike,2022-03-04 18:58:36,2022-03-04 19:13:51,Washington St & Barrow St,5847.08,University Pl & E 14 St,5905.14,40.731911,-74.008769,40.734814,-73.992085,member
1,03B6FE6FAEE61465,classic_bike,2022-03-06 20:37:09,2022-03-06 20:45:28,Washington St & Barrow St,5847.08,W 11 St & 6 Ave,5914.03,40.731911,-74.008769,40.735324,-73.998004,member
2,6E6995761B4A5760,classic_bike,2022-03-01 15:13:49,2022-03-01 15:19:53,1 Ave & E 110 St,7522.02,E 110 St & Madison Ave,7587.14,40.792327,-73.938300,40.796154,-73.947821,member
3,AA51CCF6CEDD6033,classic_bike,2022-03-11 13:59:03,2022-03-11 14:06:43,Crescent St & Broadway,6827.11,31 Rd & 21 St,6929.02,40.763359,-73.928647,40.766824,-73.930486,member
4,72AA3A7D430D8EF8,classic_bike,2022-03-08 14:59:16,2022-03-08 15:05:04,Crescent St & Broadway,6827.11,31 Rd & 21 St,6929.02,40.763359,-73.928647,40.766824,-73.930486,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1893439,79E49EA8727CA662,classic_bike,2022-03-30 21:12:45,2022-03-30 21:22:15,E 72 St & York Ave,6889.12,E 58 St & 3 Ave,6762.02,40.766638,-73.953483,40.760958,-73.967245,member
1893440,9C4F6A095779AAE2,electric_bike,2022-03-21 09:33:21,2022-03-21 09:39:45,W 48 St & Rockefeller Plaza,6626.11,E 58 St & 3 Ave,6762.02,40.757769,-73.979294,40.760958,-73.967245,member
1893441,C1966A89B5078124,electric_bike,2022-03-04 14:31:36,2022-03-04 14:43:16,Central Park West & W 85 St,7354.01,E 58 St & 3 Ave,6762.02,40.784760,-73.969862,40.760958,-73.967245,member
1893442,A11D1F167EF1B8C6,classic_bike,2022-03-18 18:43:43,2022-03-18 18:53:41,W 56 St & 6 Ave,6809.07,E 58 St & 3 Ave,6762.02,40.763406,-73.977225,40.760958,-73.967245,member
1893443,74A6A40E386BE88F,electric_bike,2022-03-10 17:21:52,2022-03-10 17:29:53,5 Ave & E 72 St,7100.07,E 58 St & 3 Ave,6762.02,40.772828,-73.966853,40.760958,-73.967245,casual

In [27]:
# Importing dataframe dated 02/22 for nyc

nyc_bikes_202202 = pd.read_csv(os.path.join(path, 'Downloads', '202202-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202202

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6C29577D0141AACD,electric_bike,2022-02-27 16:00:58,2022-02-27 16:10:09,Cliff St & Fulton St,5065.14,Norfolk St & Broome St,5374.01,40.708380,-74.004950,40.717227,-73.988021,member
1,353462A61AFB32C8,classic_bike,2022-02-02 18:09:30,2022-02-02 18:28:55,2 Ave & E 31 St,6197.02,Norfolk St & Broome St,5374.01,40.742909,-73.977061,40.717227,-73.988021,member
2,220081222C7CC84D,classic_bike,2022-02-10 19:41:09,2022-02-10 19:46:03,2 Ave & E 31 St,6197.02,5 Ave & E 29 St,6248.06,40.742909,-73.977061,40.745168,-73.986831,member
3,C66CB5EDE74A7404,classic_bike,2022-02-14 15:52:02,2022-02-14 16:01:58,Bridge St & Water St,4968.03,Henry St & Atlantic Ave,4531.05,40.702969,-73.984691,40.690893,-73.996123,member
4,6B997C1E4DCDD6BF,classic_bike,2022-02-23 13:25:07,2022-02-23 15:36:45,Lafayette St & Jersey St,5561.06,Fulton St & Broadway,5175.08,40.724561,-73.995653,40.711066,-74.009447,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233709,DB7E2CCB36FE2470,classic_bike,2022-02-02 20:20:40,2022-02-02 20:32:36,Columbus Ave & W 95 St,7520.07,E 110 St & Madison Ave,7587.14,40.791956,-73.968087,40.796154,-73.947821,member
1233710,2589BCEF3734CEFA,electric_bike,2022-02-12 18:21:44,2022-02-12 18:30:48,Central Park West & W 85 St,7354.01,E 110 St & Madison Ave,7587.14,40.784760,-73.969862,40.796154,-73.947821,member
1233711,D808B985BB9F9D72,classic_bike,2022-02-26 12:58:46,2022-02-26 13:11:58,Stanton St & Mangin St,5326.06,E 10 St & 2 Ave,5746.02,40.717821,-73.976289,40.729708,-73.986598,casual
1233712,F3CBF555F8561BF0,electric_bike,2022-02-18 11:03:02,2022-02-18 11:06:01,E 11 St & 3 Ave,5788.16,E 10 St & 2 Ave,5746.02,40.731270,-73.988490,40.729708,-73.986598,casual
1233713,2F8F2920C1A9D0E8,electric_bike,2022-02-19 18:11:55,2022-02-19 18:38:39,E 33 St & 5 Ave,6322.01,Mott St & Prince St,5561.04,40.747659,-73.984907,40.723180,-73.994800,casual

In [28]:
# Importing dataframe dated 01/22 for nyc

nyc_bikes_202201 = pd.read_csv(os.path.join(path, 'Downloads', '202201-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202201

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052413,3A8436E896501EB6,classic_bike,2022-01-09 09:40:49,2022-01-09 09:58:55,27 St & Hunter St,6310.06,Vernon Blvd & 50 Ave,6170.02,40.748500,-73.941275,40.742327,-73.954117,casual
1052414,31EE3AF319AE47D2,classic_bike,2022-01-26 16:11:27,2022-01-26 16:17:20,Monroe St & Bedford Ave,4368.05,Putnam Ave & Throop Ave,4392.04,40.685144,-73.953809,40.685153,-73.941110,casual
1052415,C27D809EC458BE2A,electric_bike,2022-01-20 11:39:41,2022-01-20 11:44:46,E 118 St & 1 Ave,7596.1,Lexington Ave & E 111 St,7567.06,40.797470,-73.935040,40.795412,-73.944123,member
1052416,4968572973DEDCB2,electric_bike,2022-01-18 21:17:11,2022-01-18 21:25:57,Allen St & Hester St,5342.1,1 Ave & E 18 St,5854.09,40.716059,-73.991908,40.733812,-73.980544,member
1052417,B40238814400C8B2,classic_bike,2022-01-22 19:05:54,2022-01-22 19:16:39,Gansevoort St & Hudson St,6072.14,12 Ave & W 40 St,6765.01,40.739448,-74.005070,40.760875,-74.002777,member

# 2) Combining Dataframes Grouped by Year

In [29]:
# Combining all dataframes for nyc using concat method (historical data in 2023)

frames_2023 = [nyc_bikes_202301, nyc_bikes_202302, nyc_bikes_202303, nyc_bikes_202304, nyc_bikes_202305, 
               nyc_bikes_202306, nyc_bikes_202307, nyc_bikes_202308, nyc_bikes_202309, nyc_bikes_202310, 
               nyc_bikes_202311, nyc_bikes_202312_part1, nyc_bikes_202312_part2, nyc_bikes_202312_part3]

nyc_bikes_2023 = pd.concat(frames_2023, axis = 0)
nyc_bikes_2023

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204869,ADDC132B2781F4ED,electric_bike,2023-12-17 12:29:57.955,2023-12-17 12:33:43.211,W 76 St & Columbus Ave,7281.09,Amsterdam Ave & W 82 St,7360.1,40.780184,-73.977285,40.785247,-73.976673,member
204870,C2A1CE9F5D86CEBC,electric_bike,2023-12-15 12:25:50.809,2023-12-15 12:39:32.176,Fresh Pond Rd & 69 Ave,4945.06,Myrtle Ave & Marcy Ave,4707.03,40.703139,-73.895477,40.695398,-73.949549,member
204871,38A28CE39397CA1E,classic_bike,2023-12-12 17:11:16.792,2023-12-12 17:17:45.781,Ocean Ave & Crooke Ave,3408.05,Lincoln Rd & Ocean Ave,3633.08,40.653260,-73.961720,40.660500,-73.962600,member
204872,B9C000D3EECE6A8F,electric_bike,2023-12-26 19:10:18.563,2023-12-26 19:14:48.843,Maiden Ln & Pearl St,5065.10,Centre St & Chambers St,5207.01,40.752142,-73.993647,40.712733,-74.004607,member
204873,D12C9B14AD682510,classic_bike,2023-12-09 16:20:57.967,2023-12-09 16:25:35.530,Lincoln Ave & E 138 St,7744.06,Willis Ave & Bruckner Blvd,7691.05,40.810893,-73.927311,40.805701,-73.925177,member

In [30]:
# Combining all dataframes for nyc using concat method (historical data in 2022)

frames_2022 = [nyc_bikes_202201, nyc_bikes_202202, nyc_bikes_202203, nyc_bikes_202204, nyc_bikes_202205, 
               nyc_bikes_202206, nyc_bikes_202207, nyc_bikes_202208, nyc_bikes_202209, nyc_bikes_202210, 
               nyc_bikes_202211, nyc_bikes_202212_part1, nyc_bikes_202212_part2]

nyc_bikes_2022 = pd.concat(frames_2022, axis = 0)
nyc_bikes_2022

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
592044,1F223EDAFF420AE3,electric_bike,2022-12-01 20:26:45.847,2022-12-01 20:30:46.012,Avenue D & E 3 St,5436.09,Stanton St & Chrystie St,5523.02,40.720701,-73.977939,40.722293,-73.991475,member
592045,CFA5C560ACB73B8E,classic_bike,2022-12-26 13:46:34.237,2022-12-26 13:52:43.900,43 Ave & 47 St,6209.05,39 Ave & 45 St,6401.03,40.744806,-73.917290,40.749478,-73.918265,member
592046,11C8C5E0DB947B07,classic_bike,2022-12-01 05:56:14.903,2022-12-01 06:06:10.357,Avenue D & E 3 St,5436.09,Bleecker St & Crosby St,5679.08,40.720828,-73.977932,40.726156,-73.995102,member
592047,5B9B083C534A5964,classic_bike,2022-12-02 11:54:15.871,2022-12-02 12:01:00.747,Montague St & Clinton St,4677.06,Sands St & Jay St,4821.03,40.694271,-73.992327,40.700119,-73.986200,member
592048,91C286C462F89A50,classic_bike,2022-12-18 13:35:22.574,2022-12-18 13:37:27.193,Montague St & Clinton St,4677.06,Cadman Plaza E & Tillary St,4677.01,40.694271,-73.992327,40.695977,-73.990149,member

# 3) Exporting Combined Dataframes to Desktop

In [31]:
# Exporting combined dataframes

nyc_bikes_2022.to_csv(os.path.join(path, 'Desktop', 'bikes_2022-2023_combined.csv'))
nyc_bikes_2023.to_csv(os.path.join(path, 'Desktop', 'bikes_2023-2024_combined.csv'))