# 1) Importing Libraries and DataFrame

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt 
import seaborn as sns
from datetime import datetime

In [2]:
# Importing dataframe dated 04/22 for nyc

path = r'/Users/matthewabrams'
nyc_bikes_202204 = pd.read_csv(os.path.join(path, 'Downloads', '202204-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202204

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2E89F1D88B8347E6,classic_bike,2022-04-08 19:50:00,2022-04-08 19:55:28,E 89 St & 3 Ave,7265.10,Madison Ave & E 99 St,7443.01,40.780628,-73.952167,40.789485,-73.952429,member
1,43F6D61DFEDAE4AF,electric_bike,2022-04-27 10:19:54,2022-04-27 10:33:29,Broadway & W 29 St,6289.06,Broadway & W 29 St,6289.06,40.746201,-73.988557,40.746201,-73.988557,member
2,21C7076071104314,classic_bike,2022-04-28 13:10:59,2022-04-28 13:17:18,E 123 St & Lexington Ave,7636.05,E 123 St & Lexington Ave,7636.05,40.802926,-73.937900,40.802926,-73.937900,member
3,7D7CEA2953427D0C,classic_bike,2022-04-13 20:21:18,2022-04-13 20:37:28,W 36 St & 9 Ave,6569.07,W 36 St & 9 Ave,6569.07,40.754623,-73.995168,40.754623,-73.995168,member
4,AD7E176748A4A55E,electric_bike,2022-04-29 18:56:24,2022-04-29 18:57:16,Graham Ave & Withers St,5403.04,Graham Ave & Withers St,5403.04,40.716981,-73.944859,40.716981,-73.944859,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319608,5EBE9D296B9D3E3C,classic_bike,2022-04-22 13:08:15,2022-04-22 13:29:31,Allen St & Rivington St,5414.06,W 29 St & 9 Ave,6416.06,40.720196,-73.989978,40.750073,-73.998393,member
2319609,B66382DEDA84C464,classic_bike,2022-04-13 17:10:49,2022-04-13 17:26:08,St. Nicholas Terrace & Convent Ave,7937.15,E 138 St & Grand Concourse,7803.08,40.821294,-73.947868,40.813224,-73.930605,member
2319610,9EC4C49BE4CB1A09,classic_bike,2022-04-12 15:58:47,2022-04-12 16:41:17,E 88 St & 1 Ave,7235.13,E 91 St & 2 Ave,7286.01,40.778301,-73.948813,40.781153,-73.949630,member
2319611,C0188AB9FAEAA143,electric_bike,2022-04-28 15:52:49,2022-04-28 16:06:31,W 55 St & 6 Ave,6809.09,E 91 St & 2 Ave,7286.01,40.763189,-73.978434,40.781153,-73.949630,member
2319612,E8C2F305866DF134,electric_bike,2022-04-11 19:55:31,2022-04-11 20:09:19,W 87 St & West End Ave,7484.05,E 91 St & 2 Ave,7286.01,40.789622,-73.977570,40.781153,-73.949630,member

In [3]:
# Importing dataframe dated 03/22 for nyc

nyc_bikes_202203 = pd.read_csv(os.path.join(path, 'Downloads', '202203-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202203

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FA2F660C8D433037,electric_bike,2022-03-04 18:58:36,2022-03-04 19:13:51,Washington St & Barrow St,5847.08,University Pl & E 14 St,5905.14,40.731911,-74.008769,40.734814,-73.992085,member
1,03B6FE6FAEE61465,classic_bike,2022-03-06 20:37:09,2022-03-06 20:45:28,Washington St & Barrow St,5847.08,W 11 St & 6 Ave,5914.03,40.731911,-74.008769,40.735324,-73.998004,member
2,6E6995761B4A5760,classic_bike,2022-03-01 15:13:49,2022-03-01 15:19:53,1 Ave & E 110 St,7522.02,E 110 St & Madison Ave,7587.14,40.792327,-73.938300,40.796154,-73.947821,member
3,AA51CCF6CEDD6033,classic_bike,2022-03-11 13:59:03,2022-03-11 14:06:43,Crescent St & Broadway,6827.11,31 Rd & 21 St,6929.02,40.763359,-73.928647,40.766824,-73.930486,member
4,72AA3A7D430D8EF8,classic_bike,2022-03-08 14:59:16,2022-03-08 15:05:04,Crescent St & Broadway,6827.11,31 Rd & 21 St,6929.02,40.763359,-73.928647,40.766824,-73.930486,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1893439,79E49EA8727CA662,classic_bike,2022-03-30 21:12:45,2022-03-30 21:22:15,E 72 St & York Ave,6889.12,E 58 St & 3 Ave,6762.02,40.766638,-73.953483,40.760958,-73.967245,member
1893440,9C4F6A095779AAE2,electric_bike,2022-03-21 09:33:21,2022-03-21 09:39:45,W 48 St & Rockefeller Plaza,6626.11,E 58 St & 3 Ave,6762.02,40.757769,-73.979294,40.760958,-73.967245,member
1893441,C1966A89B5078124,electric_bike,2022-03-04 14:31:36,2022-03-04 14:43:16,Central Park West & W 85 St,7354.01,E 58 St & 3 Ave,6762.02,40.784760,-73.969862,40.760958,-73.967245,member
1893442,A11D1F167EF1B8C6,classic_bike,2022-03-18 18:43:43,2022-03-18 18:53:41,W 56 St & 6 Ave,6809.07,E 58 St & 3 Ave,6762.02,40.763406,-73.977225,40.760958,-73.967245,member
1893443,74A6A40E386BE88F,electric_bike,2022-03-10 17:21:52,2022-03-10 17:29:53,5 Ave & E 72 St,7100.07,E 58 St & 3 Ave,6762.02,40.772828,-73.966853,40.760958,-73.967245,casual

In [4]:
# Importing dataframe dated 02/22 for nyc

nyc_bikes_202202 = pd.read_csv(os.path.join(path, 'Downloads', '202202-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202202

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6C29577D0141AACD,electric_bike,2022-02-27 16:00:58,2022-02-27 16:10:09,Cliff St & Fulton St,5065.14,Norfolk St & Broome St,5374.01,40.708380,-74.004950,40.717227,-73.988021,member
1,353462A61AFB32C8,classic_bike,2022-02-02 18:09:30,2022-02-02 18:28:55,2 Ave & E 31 St,6197.02,Norfolk St & Broome St,5374.01,40.742909,-73.977061,40.717227,-73.988021,member
2,220081222C7CC84D,classic_bike,2022-02-10 19:41:09,2022-02-10 19:46:03,2 Ave & E 31 St,6197.02,5 Ave & E 29 St,6248.06,40.742909,-73.977061,40.745168,-73.986831,member
3,C66CB5EDE74A7404,classic_bike,2022-02-14 15:52:02,2022-02-14 16:01:58,Bridge St & Water St,4968.03,Henry St & Atlantic Ave,4531.05,40.702969,-73.984691,40.690893,-73.996123,member
4,6B997C1E4DCDD6BF,classic_bike,2022-02-23 13:25:07,2022-02-23 15:36:45,Lafayette St & Jersey St,5561.06,Fulton St & Broadway,5175.08,40.724561,-73.995653,40.711066,-74.009447,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233709,DB7E2CCB36FE2470,classic_bike,2022-02-02 20:20:40,2022-02-02 20:32:36,Columbus Ave & W 95 St,7520.07,E 110 St & Madison Ave,7587.14,40.791956,-73.968087,40.796154,-73.947821,member
1233710,2589BCEF3734CEFA,electric_bike,2022-02-12 18:21:44,2022-02-12 18:30:48,Central Park West & W 85 St,7354.01,E 110 St & Madison Ave,7587.14,40.784760,-73.969862,40.796154,-73.947821,member
1233711,D808B985BB9F9D72,classic_bike,2022-02-26 12:58:46,2022-02-26 13:11:58,Stanton St & Mangin St,5326.06,E 10 St & 2 Ave,5746.02,40.717821,-73.976289,40.729708,-73.986598,casual
1233712,F3CBF555F8561BF0,electric_bike,2022-02-18 11:03:02,2022-02-18 11:06:01,E 11 St & 3 Ave,5788.16,E 10 St & 2 Ave,5746.02,40.731270,-73.988490,40.729708,-73.986598,casual
1233713,2F8F2920C1A9D0E8,electric_bike,2022-02-19 18:11:55,2022-02-19 18:38:39,E 33 St & 5 Ave,6322.01,Mott St & Prince St,5561.04,40.747659,-73.984907,40.723180,-73.994800,casual

In [5]:
# Importing dataframe dated 01/22 for nyc

nyc_bikes_202201 = pd.read_csv(os.path.join(path, 'Downloads', '202201-citibike-tripdata.csv'), index_col = False)
nyc_bikes_202201

/Users/matthewabrams/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052413,3A8436E896501EB6,classic_bike,2022-01-09 09:40:49,2022-01-09 09:58:55,27 St & Hunter St,6310.06,Vernon Blvd & 50 Ave,6170.02,40.748500,-73.941275,40.742327,-73.954117,casual
1052414,31EE3AF319AE47D2,classic_bike,2022-01-26 16:11:27,2022-01-26 16:17:20,Monroe St & Bedford Ave,4368.05,Putnam Ave & Throop Ave,4392.04,40.685144,-73.953809,40.685153,-73.941110,casual
1052415,C27D809EC458BE2A,electric_bike,2022-01-20 11:39:41,2022-01-20 11:44:46,E 118 St & 1 Ave,7596.1,Lexington Ave & E 111 St,7567.06,40.797470,-73.935040,40.795412,-73.944123,member
1052416,4968572973DEDCB2,electric_bike,2022-01-18 21:17:11,2022-01-18 21:25:57,Allen St & Hester St,5342.1,1 Ave & E 18 St,5854.09,40.716059,-73.991908,40.733812,-73.980544,member
1052417,B40238814400C8B2,classic_bike,2022-01-22 19:05:54,2022-01-22 19:16:39,Gansevoort St & Hudson St,6072.14,12 Ave & W 40 St,6765.01,40.739448,-74.005070,40.760875,-74.002777,member

In [6]:
# Importing dataframe dated 04/22 for jc

jc_bikes_202204 = pd.read_csv(os.path.join(path, 'Downloads','JC-202204-citibike-tripdata.csv'), index_col = False)
jc_bikes_202204

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,919C40A703A965D7,electric_bike,2022-04-15 15:02:20,2022-04-15 15:57:16,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
1,3B40831921DAD6C1,classic_bike,2022-04-08 10:20:55,2022-04-08 10:25:29,JC Medical Center,JC011,Grand St,JC102,40.716540,-74.049638,40.715178,-74.037683,member
2,69C5C0766309F73D,electric_bike,2022-04-09 14:14:04,2022-04-09 14:18:51,Mama Johnson Field - 4 St & Jackson St,HB404,Southwest Park - Jackson St & Observer Hwy,HB401,40.743140,-74.040041,40.737551,-74.041664,member
3,304B82055A1D4A24,classic_bike,2022-04-05 19:43:37,2022-04-05 19:51:14,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735938,-74.030305,40.740802,-74.042521,casual
4,1CB760ECBCB08609,classic_bike,2022-04-17 11:25:26,2022-04-17 11:29:45,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743140,-74.040041,40.743140,-74.040041,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual

In [7]:
# Importing dataframe dated 03/22 for jc
 
jc_bikes_202203 = pd.read_csv(os.path.join(path, 'Downloads', 'JC-202203-citibike-tripdata.csv'), index_col = False)
jc_bikes_202203

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51666,3A7A3C110A3A3C88,electric_bike,2022-03-03 16:47:15,2022-03-03 16:51:28,Willow Ave & 12 St,HB505,9 St HBLR - Jackson St & 8 St,HB305,40.751867,-74.030377,40.747907,-74.038412,member
51667,36C8F4EE77F2FDD2,classic_bike,2022-03-08 18:02:08,2022-03-08 18:14:41,Willow Ave & 12 St,HB505,Washington St,JC098,40.751867,-74.030377,40.724294,-74.035483,member
51668,B5F6267C3AA0B056,classic_bike,2022-03-07 18:54:55,2022-03-07 19:07:06,Willow Ave & 12 St,HB505,Washington St,JC098,40.751867,-74.030377,40.724294,-74.035483,member
51669,96A4FDC378B5E764,classic_bike,2022-03-19 02:58:42,2022-03-19 03:14:37,Willow Ave & 12 St,HB505,Washington St,JC098,40.751867,-74.030377,40.724294,-74.035483,casual
51670,225672DF871455F8,electric_bike,2022-03-30 14:15:47,2022-03-30 14:20:11,Willow Ave & 12 St,HB505,9 St HBLR - Jackson St & 8 St,HB305,40.751867,-74.030377,40.747907,-74.038412,member

In [8]:
# Importing dataframe dated 02/22 for jc

jc_bikes_202202 = pd.read_csv(os.path.join(path, 'Downloads', 'JC-202202-citibike-tripdata.csv'), index_col = False)
jc_bikes_202202

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B7BCBC133222B04A,classic_bike,2022-02-17 11:48:16,2022-02-17 11:58:30,Astor Place,JC077,Journal Square,JC103,40.719282,-74.071262,40.733670,-74.062500,member
1,0F9F1A0F18FD3A22,electric_bike,2022-02-02 08:31:26,2022-02-02 08:38:08,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
2,44B5D106DDB509AC,electric_bike,2022-02-09 14:05:49,2022-02-09 14:10:21,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
3,E1434F258C195DC6,classic_bike,2022-02-08 07:57:44,2022-02-08 08:15:26,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
4,64821879B2659E35,classic_bike,2022-02-07 08:05:28,2022-02-07 08:24:03,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31906,56F2CE737BC48B4F,electric_bike,2022-02-26 22:56:54,2022-02-26 23:43:17,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31907,B9123C9BA1E8A1E0,electric_bike,2022-02-26 22:53:08,2022-02-26 23:43:19,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31908,93421FA350A599A4,electric_bike,2022-02-22 12:38:05,2022-02-22 13:22:14,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31909,92EA21949B94DBE4,classic_bike,2022-02-16 19:20:25,2022-02-17 12:31:04,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31910,BBD984693E611685,classic_bike,2022-02-21 09:36:56,2022-02-21 10:24:35,Bergen Ave & Stegman St,JC108,JC Medical Center,JC011,40.706575,-74.086701,40.716540,-74.049638,member

In [9]:
# Importing dataframe dated 01/22 for jc

jc_bikes_202201 = pd.read_csv(os.path.join(path, 'Downloads', 'JC-202201-citibike-tripdata.csv'), index_col = False)
jc_bikes_202201

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26757,439B3B4ADB37F46F,electric_bike,2022-01-03 16:07:27,2022-01-03 16:12:05,Leonard Gordon Park,JC080,Journal Square,JC103,40.745910,-74.057271,40.733670,-74.062500,member
26758,11C0F2F85CBF7623,electric_bike,2022-01-22 20:02:58,2022-01-22 20:07:32,Leonard Gordon Park,JC080,Journal Square,JC103,40.745910,-74.057271,40.733670,-74.062500,member
26759,E77502BB6C6A7ADD,classic_bike,2022-01-26 12:35:21,2022-01-26 12:44:00,Leonard Gordon Park,JC080,Journal Square,JC103,40.745910,-74.057271,40.733670,-74.062500,member
26760,75C57C18EE9980EA,classic_bike,2022-01-28 12:56:34,2022-01-28 13:06:45,Leonard Gordon Park,JC080,Journal Square,JC103,40.745910,-74.057271,40.733670,-74.062500,member
26761,2EC5621EF3DCB2FA,classic_bike,2022-01-31 12:45:16,2022-01-31 12:52:05,Leonard Gordon Park,JC080,Journal Square,JC103,40.745910,-74.057271,40.733670,-74.062500,member

# 2) Combining Dataframes

In [10]:
# Combining all dataframes for nyc using concat method

frames = [nyc_bikes_202201, nyc_bikes_202202, nyc_bikes_202203, nyc_bikes_202204]
nyc_bikes = pd.concat(frames, axis = 0)
nyc_bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319608,5EBE9D296B9D3E3C,classic_bike,2022-04-22 13:08:15,2022-04-22 13:29:31,Allen St & Rivington St,5414.06,W 29 St & 9 Ave,6416.06,40.720196,-73.989978,40.750073,-73.998393,member
2319609,B66382DEDA84C464,classic_bike,2022-04-13 17:10:49,2022-04-13 17:26:08,St. Nicholas Terrace & Convent Ave,7937.15,E 138 St & Grand Concourse,7803.08,40.821294,-73.947868,40.813224,-73.930605,member
2319610,9EC4C49BE4CB1A09,classic_bike,2022-04-12 15:58:47,2022-04-12 16:41:17,E 88 St & 1 Ave,7235.13,E 91 St & 2 Ave,7286.01,40.778301,-73.948813,40.781153,-73.949630,member
2319611,C0188AB9FAEAA143,electric_bike,2022-04-28 15:52:49,2022-04-28 16:06:31,W 55 St & 6 Ave,6809.09,E 91 St & 2 Ave,7286.01,40.763189,-73.978434,40.781153,-73.949630,member
2319612,E8C2F305866DF134,electric_bike,2022-04-11 19:55:31,2022-04-11 20:09:19,W 87 St & West End Ave,7484.05,E 91 St & 2 Ave,7286.01,40.789622,-73.977570,40.781153,-73.949630,member

In [11]:
# Appending new column for nyc_bikes called city column where all values are New York City

nyc_bikes['city'] = "New York City"
nyc_bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,New York City
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,New York City
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,New York City
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,New York City
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319608,5EBE9D296B9D3E3C,classic_bike,2022-04-22 13:08:15,2022-04-22 13:29:31,Allen St & Rivington St,5414.06,W 29 St & 9 Ave,6416.06,40.720196,-73.989978,40.750073,-73.998393,member,New York City
2319609,B66382DEDA84C464,classic_bike,2022-04-13 17:10:49,2022-04-13 17:26:08,St. Nicholas Terrace & Convent Ave,7937.15,E 138 St & Grand Concourse,7803.08,40.821294,-73.947868,40.813224,-73.930605,member,New York City
2319610,9EC4C49BE4CB1A09,classic_bike,2022-04-12 15:58:47,2022-04-12 16:41:17,E 88 St & 1 Ave,7235.13,E 91 St & 2 Ave,7286.01,40.778301,-73.948813,40.781153,-73.949630,member,New York City
2319611,C0188AB9FAEAA143,electric_bike,2022-04-28 15:52:49,2022-04-28 16:06:31,W 55 St & 6 Ave,6809.09,E 91 St & 2 Ave,7286.01,40.763189,-73.978434,40.781153,-73.949630,member,New York City
2319612,E8C2F305866DF134,electric_bike,2022-04-11 19:55:31,2022-04-11 20:09:19,W 87 St & West End Ave,7484.05,E 91 St & 2 Ave,7286.01,40.789622,-73.977570,40.781153,-73.949630,member,New York City

In [12]:
# Combining all dataframes for jc_bikes using concat method

frames_01 = [jc_bikes_202201, jc_bikes_202202, jc_bikes_202203, jc_bikes_202204]
jc_bikes = pd.concat(frames_01, axis = 0)
jc_bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual

In [13]:
# Appending new column for jc_bikes called city column where all values are Jersey City

jc_bikes['city'] = "Jersey City"
jc_bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,Jersey City
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,Jersey City
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,Jersey City
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,Jersey City
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,Jersey City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member,Jersey City
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,Jersey City
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member,Jersey City
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual,Jersey City
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual,Jersey City

In [14]:
# Combining nyc_bikes and jc bikes dataframes into one dataframe

frames_02 = [nyc_bikes, jc_bikes]
bikes = pd.concat(frames_02, axis = 0)
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,New York City
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,New York City
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,New York City
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,New York City
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member,Jersey City
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,Jersey City
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member,Jersey City
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual,Jersey City
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual,Jersey City

# 3) Checking for missing values, duplicates, and inconsistant values

In [15]:
# Checking for null values

bikes.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name        8
start_station_id          8
end_station_name      16481
end_station_id        16481
start_lat                 0
start_lng                 0
end_lat               12021
end_lng               12021
member_casual             0
city                      0
dtype: int64

In [16]:
# Dropping null values under'start_station_name','end_station_name'
# Want to return all known values for where people bike from and where to

bikes.dropna(subset = ['start_station_name','end_station_name'], inplace = True)
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,New York City
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,New York City
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,New York City
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,New York City
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member,Jersey City
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,Jersey City
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member,Jersey City
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual,Jersey City
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual,Jersey City

In [17]:
# Checking for duplicates
# No duplicates

bikes[bikes.duplicated()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, city]
Index: []

In [18]:
bikes['start_station_name'].value_counts()

W 21 St & 6 Ave          30302
1 Ave & E 68 St          27128
Broadway & W 58 St       25466
Broadway & E 21 St       25045
West St & Chambers St    24004
                         ...
Folin St & E 181 St         15
Morgan WH station            9
E 6 St 2 Ave                 7
Morgan Loading Docks         3
Morgan Bike Mechanics        1
Name: start_station_name, Length: 1643, dtype: int64

In [19]:
bikes['end_station_name'].value_counts()

W 21 St & 6 Ave            30542
1 Ave & E 68 St            27060
Broadway & E 21 St         25197
Broadway & W 58 St         25122
University Pl & E 14 St    24570
                           ...
Pier 40 X2                     4
7 Ave & Bleecker St            1
Apache                         1
StuyTown Depot                 1
JCBS Depot                     1
Name: end_station_name, Length: 1650, dtype: int64

In [20]:
# Finding how many types of ridable bikes there are
# There are three types of rideable bikes

bikes['rideable_type'].unique()

array(['classic_bike', 'electric_bike', 'docked_bike'], dtype=object)

In [21]:
bikes['member_casual'].unique()

array(['member', 'casual'], dtype=object)

# 4) Changing datatypes and adding new columns

In [22]:
# Changing datatype of column from object to datestamp

bikes['started_at'] = pd.to_datetime(bikes['started_at'])

In [23]:
# Changing datatype of column from object to datestamp

bikes['ended_at'] = pd.to_datetime(bikes['ended_at'])

In [24]:
# Checking for changes made in datatypes of each column

bikes.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
city                          object
dtype: object

In [25]:
# Creating column for how much time spent on bike ride, labeled "time_spent_with_bike"
# Formula was derived from taking the difference between "ended_at" and "started_at" column

bikes["time_spent_with_bike"] = bikes['ended_at'] - bikes['started_at']
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city,time_spent_with_bike
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,New York City,0 days 00:04:26
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,New York City,0 days 00:02:22
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,New York City,0 days 00:24:46
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,New York City,0 days 00:04:15
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,New York City,0 days 00:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member,Jersey City,0 days 00:14:15
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,Jersey City,0 days 00:08:34
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member,Jersey City,0 days 00:13:01
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual,Jersey City,0 days 00:09:31
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual,Jersey City,0 days 00:08:41

In [26]:
# Changed data type of 'time_spent_with_bike' column to an integer and also converted time spent to total seconds

bikes['time_spent_with_bike'] = bikes['time_spent_with_bike'].dt.total_seconds().astype(int)
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city,time_spent_with_bike
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,New York City,266
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,New York City,142
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,New York City,1486
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,New York City,255
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,New York City,480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member,Jersey City,855
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,Jersey City,514
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member,Jersey City,781
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual,Jersey City,571
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual,Jersey City,521

In [27]:
# Created new column derived from 'time_spent_with_bike'
# Converted time spent from total seconds to minutes (nearest two places after decimal)

bikes['time_spent_with_bike_in_minutes'] = round((bikes['time_spent_with_bike']/60),2)
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city,time_spent_with_bike,time_spent_with_bike_in_minutes
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,New York City,266,4.43
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,New York City,142,2.37
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,New York City,1486,24.77
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,New York City,255,4.25
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,New York City,480,8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member,Jersey City,855,14.25
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,Jersey City,514,8.57
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member,Jersey City,781,13.02
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual,Jersey City,571,9.52
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual,Jersey City,521,8.68

In [28]:
# Created two new columns derived from 'ended_at_day_name', 'started_at_day_name'
# Returned the name of day

bikes['started_at_day_name'] = bikes['started_at'].dt.day_name()
bikes['ended_at_day_name'] = bikes['ended_at'].dt.day_name()
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city,time_spent_with_bike,time_spent_with_bike_in_minutes,started_at_day_name,ended_at_day_name
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,New York City,266,4.43,Tuesday,Tuesday
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,New York City,142,2.37,Friday,Friday
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,New York City,1486,24.77,Saturday,Saturday
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,New York City,255,4.25,Wednesday,Wednesday
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,New York City,480,8.00,Sunday,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member,Jersey City,855,14.25,Sunday,Sunday
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,Jersey City,514,8.57,Saturday,Saturday
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member,Jersey City,781,13.02,Thursday,Thursday
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual,Jersey City,571,9.52,Saturday,Saturday
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual,Jersey City,521,8.68,Saturday,Saturday

In [29]:
# Created two new columns derived from 'ended_at_day_name', 'started_at_day_name'
# Returned the hour of day

bikes['started_at_hour'] = bikes['started_at'].dt.hour
bikes['ended_at_hour'] = bikes['ended_at'].dt.hour
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,city,time_spent_with_bike,time_spent_with_bike_in_minutes,started_at_day_name,ended_at_day_name,started_at_hour,ended_at_hour
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,New York City,266,4.43,Tuesday,Tuesday,8,8
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,New York City,142,2.37,Friday,Friday,9,9
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,New York City,1486,24.77,Saturday,Saturday,14,14
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,New York City,255,4.25,Wednesday,Wednesday,14,14
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,New York City,480,8.00,Sunday,Sunday,14,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member,Jersey City,855,14.25,Sunday,Sunday,12,13
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,Jersey City,514,8.57,Saturday,Saturday,11,11
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member,Jersey City,781,13.02,Thursday,Thursday,14,14
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual,Jersey City,571,9.52,Saturday,Saturday,17,17
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual,Jersey City,521,8.68,Saturday,Saturday,15,16

In [30]:
# Created two new columns derived from 'ended_at_day_name', 'started_at_day_name'
# Returned the month of year

bikes['started_at_month_name'] = bikes['started_at'].dt.month_name()
bikes['ended_at_month_name'] = bikes['ended_at'].dt.month_name()

bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,city,time_spent_with_bike,time_spent_with_bike_in_minutes,started_at_day_name,ended_at_day_name,started_at_hour,ended_at_hour,started_at_month_name,ended_at_month_name
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,...,member,New York City,266,4.43,Tuesday,Tuesday,8,8,January,January
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,...,member,New York City,142,2.37,Friday,Friday,9,9,January,January
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,...,member,New York City,1486,24.77,Saturday,Saturday,14,14,January,January
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,...,member,New York City,255,4.25,Wednesday,Wednesday,14,14,January,January
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,...,member,New York City,480,8.00,Sunday,Sunday,14,14,January,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,...,member,Jersey City,855,14.25,Sunday,Sunday,12,13,April,April
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,...,member,Jersey City,514,8.57,Saturday,Saturday,11,11,April,April
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,...,member,Jersey City,781,13.02,Thursday,Thursday,14,14,April,April
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,...,casual,Jersey City,571,9.52,Saturday,Saturday,17,17,April,April
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,...,casual,Jersey City,521,8.68,Saturday,Saturday,15,16,April,April

In [31]:
# Created two new columns derived from 'ended_at_day_name', 'started_at_day_name'
# Returned the year

bikes['started_at_year'] = bikes['started_at'].dt.year
bikes['ended_at_year'] = bikes['ended_at'].dt.year
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,time_spent_with_bike,time_spent_with_bike_in_minutes,started_at_day_name,ended_at_day_name,started_at_hour,ended_at_hour,started_at_month_name,ended_at_month_name,started_at_year,ended_at_year
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,...,266,4.43,Tuesday,Tuesday,8,8,January,January,2022,2022
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,...,142,2.37,Friday,Friday,9,9,January,January,2022,2022
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,...,1486,24.77,Saturday,Saturday,14,14,January,January,2022,2022
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,...,255,4.25,Wednesday,Wednesday,14,14,January,January,2022,2022
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,...,480,8.00,Sunday,Sunday,14,14,January,January,2022,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,...,855,14.25,Sunday,Sunday,12,13,April,April,2022,2022
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,...,514,8.57,Saturday,Saturday,11,11,April,April,2022,2022
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,...,781,13.02,Thursday,Thursday,14,14,April,April,2022,2022
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,...,571,9.52,Saturday,Saturday,17,17,April,April,2022,2022
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,...,521,8.68,Saturday,Saturday,15,16,April,April,2022,2022

In [32]:
# Created two new columns derived from 'ended_at_day_name', 'started_at_day_name'
# Returned the year-month-day

bikes['started_at_date'] = bikes['started_at'].dt.to_period('D')
bikes['ended_at_date'] = bikes['ended_at'].dt.to_period('D')
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,started_at_day_name,ended_at_day_name,started_at_hour,ended_at_hour,started_at_month_name,ended_at_month_name,started_at_year,ended_at_year,started_at_date,ended_at_date
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,...,Tuesday,Tuesday,8,8,January,January,2022,2022,2022-01-18,2022-01-18
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,...,Friday,Friday,9,9,January,January,2022,2022,2022-01-21,2022-01-21
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,...,Saturday,Saturday,14,14,January,January,2022,2022,2022-01-22,2022-01-22
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,...,Wednesday,Wednesday,14,14,January,January,2022,2022,2022-01-19,2022-01-19
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,...,Sunday,Sunday,14,14,January,January,2022,2022,2022-01-16,2022-01-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,...,Sunday,Sunday,12,13,April,April,2022,2022,2022-04-24,2022-04-24
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,...,Saturday,Saturday,11,11,April,April,2022,2022,2022-04-30,2022-04-30
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,...,Thursday,Thursday,14,14,April,April,2022,2022,2022-04-28,2022-04-28
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,...,Saturday,Saturday,17,17,April,April,2022,2022,2022-04-09,2022-04-09
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,...,Saturday,Saturday,15,16,April,April,2022,2022,2022-04-02,2022-04-02

# 5) Filtering out outliers and rides longer than 2 hrs (120 minutes)

In [33]:
# Statistical description of dataframe
# Unusually the bike ride lasts over 50000 minutes
# There is a monetary penalty for rides longer than 45 minutes for members and 30 minutes for casual customers, it is improbable than any rides will much longer. 
# The System host site indicates that for distance calculation, trips are capped at a 2 hour (120 minutes) limit.
# It is highly probable that the bike was not engaged properly at the returning station.

bikes.describe()

,start_lat,start_lng,end_lat,end_lng,time_spent_with_bike,time_spent_with_bike_in_minutes,started_at_hour,ended_at_hour,started_at_year,ended_at_year
count,6.655580e+06,6.655580e+06,6.655580e+06,6.655580e+06,6.655580e+06,6.655580e+06,6.655580e+06,6.655580e+06,6655580.0,6655580.0
mean,4.073983e+01,-7.397824e+01,4.073961e+01,-7.397838e+01,8.442642e+02,1.407107e+01,1.395030e+01,1.409247e+01,2022.0,2022.0
std,3.691662e-02,2.585655e-02,3.677520e-02,2.584182e-02,3.757290e+03,6.262150e+01,4.820922e+00,4.867134e+00,0.0,0.0
min,4.063338e+01,-7.408670e+01,4.063338e+01,-7.408670e+01,-5.240000e+02,-8.730000e+00,0.000000e+00,0.000000e+00,2022.0,2022.0
25%,4.071723e+01,-7.399416e+01,4.071723e+01,-7.399431e+01,3.130000e+02,5.220000e+00,1.000000e+01,1.100000e+01,2022.0,2022.0
50%,4.073932e+01,-7.398215e+01,4.073902e+01,-7.398261e+01,5.500000e+02,9.170000e+00,1.500000e+01,1.500000e+01,2022.0,2022.0
75%,4.076171e+01,-7.396266e+01,4.076157e+01,-7.396266e+01,9.700000e+02,1.617000e+01,1.800000e+01,1.800000e+01,2022.0,2022.0
max,4.088226e+01,-7.388145e+01,4.088226e+01,-7.388145e+01,3.479159e+06,5.798598e+04,2.300000e+01,2.300000e+01,2022.0,2022.0

In [34]:
# We will filter out any trips greater than 2 hours (120 minutes).
bikes = bikes[bikes['time_spent_with_bike_in_minutes']<=120]
bikes

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,started_at_day_name,ended_at_day_name,started_at_hour,ended_at_hour,started_at_month_name,ended_at_month_name,started_at_year,ended_at_year,started_at_date,ended_at_date
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,...,Tuesday,Tuesday,8,8,January,January,2022,2022,2022-01-18,2022-01-18
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,...,Friday,Friday,9,9,January,January,2022,2022,2022-01-21,2022-01-21
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,...,Saturday,Saturday,14,14,January,January,2022,2022,2022-01-22,2022-01-22
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,...,Wednesday,Wednesday,14,14,January,January,2022,2022,2022-01-19,2022-01-19
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,...,Sunday,Sunday,14,14,January,January,2022,2022,2022-01-16,2022-01-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,...,Sunday,Sunday,12,13,April,April,2022,2022,2022-04-24,2022-04-24
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,...,Saturday,Saturday,11,11,April,April,2022,2022,2022-04-30,2022-04-30
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,...,Thursday,Thursday,14,14,April,April,2022,2022,2022-04-28,2022-04-28
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,...,Saturday,Saturday,17,17,April,April,2022,2022,2022-04-09,2022-04-09
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,...,Saturday,Saturday,15,16,April,April,2022,2022,2022-04-02,2022-04-02

# 6) Rearranging Columns and Exporting Finalized Dataframe to Desktop

In [35]:
# Returning the name of all columns of dataframe

bikes.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'city', 'time_spent_with_bike',
       'time_spent_with_bike_in_minutes', 'started_at_day_name',
       'ended_at_day_name', 'started_at_hour', 'ended_at_hour',
       'started_at_month_name', 'ended_at_month_name', 'started_at_year',
       'ended_at_year', 'started_at_date', 'ended_at_date'],
      dtype='object')

In [36]:
# Selected and rearranged several columns for dataframe

bikes = bikes[['ride_id', 'city', 'rideable_type', 'started_at', 'ended_at', 'started_at_date', 'ended_at_date', 'started_at_year', 'ended_at_year',
               'started_at_month_name', 'ended_at_month_name', 'started_at_day_name', 'ended_at_day_name','started_at_hour', 'ended_at_hour', 
               'started_at_date', 'start_station_name', 'end_station_name',
                'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual', 'time_spent_with_bike_in_minutes']]
bikes

,ride_id,city,rideable_type,started_at,ended_at,started_at_date,ended_at_date,started_at_year,ended_at_year,started_at_month_name,...,ended_at_hour,started_at_date,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,time_spent_with_bike_in_minutes
0,55262E4365A955A2,New York City,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,2022-01-18,2022-01-18,2022,2022,January,...,8,2022-01-18,Boerum Pl\t& Pacific St,Clinton St & Joralemon St,40.688489,-73.991160,40.692395,-73.993379,member,4.43
1,D272F1B15D841EC0,New York City,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,2022-01-21,2022-01-21,2022,2022,January,...,9,2022-01-21,E 12 St & Ave C,E 10 St & Avenue A,40.727243,-73.976831,40.727408,-73.981420,member,2.37
2,D1FCEF55EB4A807F,New York City,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,2022-01-22,2022-01-22,2022,2022,January,...,14,2022-01-22,W 21 St & 6 Ave,W 44 St & 11 Ave,40.741740,-73.994156,40.762009,-73.996975,member,24.77
3,E9CBDC6A0162C068,New York City,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,2022-01-19,2022-01-19,2022,2022,January,...,14,2022-01-19,38 St & 30 Ave,Crescent St & 30 Ave,40.764175,-73.915840,40.768692,-73.924957,member,4.25
4,2177A5B57326CE9B,New York City,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,2022-01-16,2022-01-16,2022,2022,January,...,14,2022-01-16,Pacific St & Nevins St,Clinton St & Tillary St,40.685376,-73.983021,40.696233,-73.991421,member,8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,13C1C453508F048A,Jersey City,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,2022-04-24,2022-04-24,2022,2022,April,...,13,2022-04-24,South Waterfront Walkway - Sinatra Dr & 1 St,9 St HBLR - Jackson St & 8 St,40.736982,-74.027781,40.747907,-74.038412,member,14.25
62524,B7E454B8886D7826,Jersey City,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,2022-04-30,2022-04-30,2022,2022,April,...,11,2022-04-30,South Waterfront Walkway - Sinatra Dr & 1 St,12 St & Sinatra Dr N,40.736982,-74.027781,40.750604,-74.024020,member,8.57
62525,20D6A9E7C8291984,Jersey City,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,2022-04-28,2022-04-28,2022,2022,April,...,14,2022-04-28,South Waterfront Walkway - Sinatra Dr & 1 St,Bloomfield St & 15 St,40.736982,-74.027781,40.754530,-74.026580,member,13.02
62526,2AEB863A4F683CAE,Jersey City,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,2022-04-09,2022-04-09,2022,2022,April,...,17,2022-04-09,South Waterfront Walkway - Sinatra Dr & 1 St,Bloomfield St & 15 St,40.736982,-74.027781,40.754530,-74.026580,casual,9.52
62527,AB2C885E7051B2D4,Jersey City,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,2022-04-02,2022-04-02,2022,2022,April,...,16,2022-04-02,South Waterfront Walkway - Sinatra Dr & 1 St,Clinton St & 7 St,40.736982,-74.027781,40.745420,-74.033320,casual,8.68

In [37]:
# Exporting finalized dataframe

bikes.to_csv(os.path.join(path, 'Desktop', 'bikes_2022.csv'))